<!DOCTYPE html>
<html lang="en" ng-app="campture">
    <head>
        <base href="/">
        <!--CSS-->
        <!--FONT Dependencies-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Vollkorn:400italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
        
        <!--third party-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/colorbox.css" media="screen" />
        <link rel="stylesheet" href="css/dropzone.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
        <!--in house-->
        <link rel="stylesheet" href="css/launch/Styles.css">

        <!--Parse Dependencies-->
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
        <!--Meta-->
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="keywords" content="Campture, adventure, camping" />
        <meta property="og:title" content="Campture" />
        <meta property="og:description" content="This is campture description" />
        <meta property="og:image" content="http://res.cloudinary.com/dzseog4g3/image/upload/c_fill,h_400,w_960/v1449320744/dumeromf14sv5p3wj9o1.jpg" />
        <meta name="author" content="anujs">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />

        <title>Campture</title>
    </head>
    <body>
        <div id="fb-root"></div>
        <!--<div class="text-center navigation">
            <span class="navtext navtext-left"><a href="#/gearChecklistForm">Gear Checklist</a></span>
            <span class="navLogo"><img src="Images/Logo.png" alt="logo" ></span>
            <span class="navtext navtext-right"><a href="http://www.campture.com/blog/">Blog</a></span>
        </div>-->
        <div >
            <nav id="headerId" style="display: none; background-color: rgba(23, 23, 23,.302); border-bottom:0;" class="navbar navbar-default no-margin no-background on-top navbar-fixed-top" ">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/"><img src="css/images/logo-beta.png" alt="logo"></a>
                        <!--<div class="navbar-form navbar-left no-margin pc-no-display paddingnone" role="search">
                            <div class="wrap searchbar-input">
                                <form action="" ng-submit="searchTrips()" autocomplete="on">
                                    <input id="searchId" ng-model="query[queryBy]" class="campture-search" name="search1" type="text" placeholder="Search...">
                                    <button type="submit" ng-click="searchTrips()" ng-hide="true"></button>
                                </form>
                            </div>
                        </div>-->
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href="#/explore/" class="navbar-fonts navbar-link">EXPLORE</a></li> -->
                            <!-- <li class="dropdown">
                                <a class="dropdown-toggle navbar-fonts" data-toggle="dropdown" style="padding:15px!important;">TAGS<span class="caret"></span></a>
                                <ul class="dropdown-menu tags tag-window-width paddingnone" role="menu">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 paddingnone" ng-repeat="headerTag in topTags">
                                        <a ng-href="#/feed/{{headerTag.tag}}" class="thumbnail no-margin">
                                            <img ng-src="{{headerTag.image_url}}">
                                        </a>
                                    </div>
                                </ul>
                            </li> -->
                            <!-- <li><a href="#/howTo/" class="navbar-fonts navbar-link">HOW TO</a></li> -->
                            <li><a href="http://www.campture.com/blog/" target="_blank" class="navbar-fonts" style="color:white;">BLOG</a></li>
                            <li><a href="http://www.campture.com/blog/" target="_blank" class="navbar-fonts" style="color:white;">GEAR CHECKLIST</a></li>
                        </ul>
                        <!--<ul class="nav navbar-nav navbar-right">
                            <div class="input-group search-box mobile-no-display">
                                <input ng-model="query[queryBy]" type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button ng-click="searchTrips()" class="btn btn-default" type="button" style="border-left: 0;"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <!-- <li><a ng-show="isPageHeaderLoaded && userObj == undefined" href="" class="header-elements loginwithfacebook" ng-click="loginWithFacebook()"><i class="fa fa-facebook-square"></i> <span>Login with Facebook</span></a></li>
                            <li><a ng-if="isPageHeaderLoaded && userObj" href="#/account/postTrip/" class="header-elements add_trip"><i class="fa fa-pencil-square-o" style="color:#FFFFFF;">&nbsp;</i><span>Add Trip</span></a></li>
                            <li><a href="" ng-if="isPageHeaderLoaded && userObj" ng-click="logout()" class="header-elements power_switch navbar-link" style="color: color: rgb(106, 106, 106)!important;"><i class="fa fa-power-off"></i></a></li>
                            <li><a ng-if="isPageHeaderLoaded && userObj" href="" ng-href="#/account/profile/{{userObj.objectId}}" class="header-elements paddingnone"><img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-circle profile_topleft"></a></li>
                        </ul> -->
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div id="facebook-login-modal" class="modal fade" role="dialog" style="display: none;">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content facebook-login-prompt">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Log in to explore the world of Campture</h4>
                        </div>
                        <div class="modal-body text-center">
                            <img src="css/images/fb-login-popup.jpg" class="img-responsive">
                        </div>
                        <div class="modal-footer">
                            <p class="text-center">*Campture does not post on your Facebook without your permission.</p>
                            <button class="no-margin loginwithfacebook-two" ng-click="loginToPost()" data-dismiss="modal" data-toggle="modal" data-target="#welcomeModal"><i class="fa fa-facebook-official">&nbsp; </i><span>Login with Facebook</span></button>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal -->
        <div id="welcomeModal" class="modal fade" role="dialog">
            <div class="modal-dialog text-center">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h3>Lets get you started</h3>
                        <div class="row">
                            <div class="col-md-6 modal-publish-trip text-center">
                                <img src="../../../css/images/animat-pencil-color.jpg" class="welcome-modal-img-1">
                                <img src="../../../css/images/animat-pencil-color.gif" class="welcome-modal-img-2">
                                <h4 style="padding-top:20px;">Publish Trip</h4>
                                <p>Create your photologues by adding photos and writing caption. Share with your friends or keep your travel memories in one place.</p>
                                <button ng-click="redirectToPost()" class="btn btn-primary btn-lg" data-target="#welcomeModal" data-dismiss="modal">Let's Do This</button>
                            </div>
                            <div class="col-md-6 modal-publish-trip text-center">
                                <img src="../../../css/images/animat-image-color.jpg" class="welcome-modal-img-1">
                                <img src="../../../css/images/animat-image-color.gif" class="welcome-modal-img-2">
                                <h4>Explore Experiences</h4>
                                <p>Explore amazing experiences shared by our community members. Find hidden gems, itineraries or informative advice for your next travel.</p>
                                <a ng-click="redirectToExplore()" class="btn btn-blue btn-lg" data-target="#welcomeModal" data-dismiss="modal">I Want To See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <main style="min-height: 100vh" class="top-margin">
            <div ng-view autoscroll="true"></div>
        </main>

        <div class="asfeatured text-center">
            <p class="outdoor">As featured on</p>
            <div class="angellist">
                <img src="Images/Angel list/Logos/AngelList_White_Lockup-62a6d2396ec4758d26016fc9b65d6cb1.png"> <img src="Images/Angel list/Logos/Lets venture.png"> <img src="Images/Angel list/Logos/Beta List.png"> <img src="Images/Angel list/Logos/Launching Next.png">
            </div>
        </div>
        <div ng-controller="TempLandingCtrl" class="sectionsix text-center">
            <div class="input-group col-md-4 col-md-offset-4 col-sm-5 col-sm-offset-5 col-xs-11  col-xs-offset-2 maxwidth">
                <input ng-model="emailField1" type="text" class="form-control form-control-camptureme" placeholder="Your email address">
                <span class="input-group-btn">
                    <button class="btn btn-orange" ng-click="sendUserEmail()" type="button">Campture Me!</button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <div class="footer container-fluid">
            <a href="https://www.facebook.com/CamptureApp/?fref=ts"><span class="footersocial"><i class="fa fa-facebook"></i></span></a> <a href="https://twitter.com/Campture"><span class="footersocial"><i class="fa fa-twitter"></i></span></a>
            <!--<span class="footersocial"><i class="fa fa-google-plus"></i></span>!-->
            <!--<span class="footersocial"><i class="fa fa-instagram"></i></span>!-->
            <a href="https://www.pinterest.com/campture/"><span class="footersocial"><i class="fa fa-pinterest"></i></span></a> <span class="pull-right">Campture 2015 &copy; All Rights Reserved</span>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!--Parse-->
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.min.js"></script><!--http://www.parsecdn.com/js/parse-latest.min.js-->
        <!--Dropzone dependencies-->
        <script src="js/dropzone/dropzone.js"></script>
        <!--Map API Dependencies-->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCRpJLhktqH2XbHlB4WLvZ169ECwqOG-BE&libraries=places"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/exif/exif.js"></script>
        <script src="js/linkify/linkified.js"></script>
        <script src="js/linkify/jquery.linkify.min.js"></script>

        <!-- Angular Dependencies -->
        <!-- JS-->
        <script src="js/angular.min.js"></script><!--js/angular.js-->
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-cookies.js"></script>
        <script src="js/ui-bootstrap-tpls-0.14.3.js"></script>
        <script src="js/angular-animate.js"></script>
        <!--New Dependencies-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-touch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

        <!--Timeline Dependencies-->
        <!--Map API Dependencies-->
        <script src="js/angular-simple-logger.js"></script>
        <script src="js/angular-google-maps.min.js"></script>
        <script src="js/ngAutocomplete/ngAutocomplete.js"></script>
        <!--Drop zone directive-->
        <script src="js/dropzone/dropzone-directive.js"></script>
        <!--Angular Routing-->
        <!--Main-->
        <script src="app.js"></script>
        <!--Services-->
        <script src="app/services/gearService.js"></script>
        <script src="app/services/parse-angular/FacebookAngularPatch.js"></script>
        <script src="app/services/parse-angular/ParseServices.js"></script>

        <!--Directives-->
        <script src="app/components/commentsDirective/dynamicFbCommentBox.js"></script>
        <script src="app/components/colorbox/modalDialogDirective.js"></script>

        <!--Controller-->

        <script src="app/components/gearChecklist/gearChecklistCtrl.js"></script>
        <script src="app/components/tempLanding/tempLandingCtrl.js"></script>
        <script src="app/components/gearChecklist/gearChecklistForm/gearChecklistFormCtrl.js"></script>
        <!--Main Route-->
        <script src="app.route.js"></script>
        <script src="configMap.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#headerId').css("display", "block");
            });           
        </script>
    </body>
</html>
