<div class="sale-wrap">
    <div class="intro-photo-wrap">
        <div class="badge-det text-center"> <img src="../../../../css/images/trip_selling_badges/leh_sightseeing_trip_with_rafting_badge.png" class="img-responsive">
            <p><i class="fa fa-map-marker"></i> <strong>Leh</strong>, Ladakh, India</p>
            <div class="col-md-12 text-center text-uppercase lato">
                <div class="col-md-6"> <img src="css/images/hero_img_icons/trip_time.png" style="height:45px"><span> 7 days</span> </div>
                <div class="col-md-6"> <img src="css/images/hero_img_icons/difficulty_meter.png" style="height:45px;"><span> Easy</span> </div>
            </div>
        </div>
        <div class="intro-photo"> </div>
        <div class="view-det text-center">
            <a onClick="$('.sale-content').animatescroll({scrollSpeed:500,easing:'linear'});">
                <p>View Details</p>
                <p><i class="fa fa-angle-down"></i></p>
            </a>
        </div>
        <div class="sale-info bottom-zero sticker2" style="z-index:1;">
            <div class="container">
                <ul class="nav nav-pills i-pills">
                    <li ng-class="{'active': pillTabIndex == 0}"><a data-toggle="pill" ng-click="updatePillTabPos(0)"><i class="fa fa-file-text-o"></i> Summary</a></li>
                    <li ng-class="{'active': pillTabIndex == 1}"><a data-toggle="pill" ng-click="updatePillTabPos(1)"><i class="fa fa-map-o" aria-hidden="true"></i> Itinerary
                        </a> </li>
                    <li ng-class="{'active': pillTabIndex == 2}"><a data-toggle="pill" ng-click="updatePillTabPos(2)"><i class="fa fa-align-left"></i> Details</a></li>
                    <li ng-class="{'active': pillTabIndex == 3}"><a data-toggle="pill" ng-click="updatePillTabPos(3)"><i class="fa fa-umbrella" aria-hidden="true"></i> What to Carry</a></li>
                    <li ng-class="{'active': pillTabIndex == 4}"><a data-toggle="pill" ng-click="updatePillTabPos(4)"><i class="fa fa-ban" aria-hidden="true"></i>Cancellation Policy</a></li>
                </ul>
            </div>
        </div>
        <div id="aa_particles"> </div>
    </div>
    <div class="sale-content">
        <div class="container">
            <div class="col-md-12 son-width">
                <div class="col-md-8 green-bodah">
                    <div class="tab-content">
                        <div id="home" ng-show="pillTabIndex == 0" class="">
                            <div class="col-md-12">
                                <div class="lato-light">
                                    <h1>Leh Sightseeing with Rafting</h1>
                                    <p>Ladakh, a mesmerising land in the mighty Himalayan range gloats of its heavenly beauty and vigour. The soaring mountains and virgin valleys, pulsating with its cultural life, makes this a must on your bucket list!</p>

                                </div>
                                <hr>
                                <div class="iti-sum">
                                    <h3 class="lato">Trip Itinerary</h3>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="sum-card lato">
                                                <h4 class="green text-uppercase">Day 1</h4>
                                                <hr>
                                                <table>
                                                	<tr>
                                                    	<td><img src="../../../../css/images/itinerary_icons/jeep.png"></td>
                                                        <td>Arrive at Leh.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/relax.png" class=""></td>
                                                        <td>Transfer to Hotel to for rest &amp; acclimatise.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Local sightseeing in evening.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Watch spectacular sunset from the Shanti Stupa.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/hotel_bed.png" class=""></td>
                                                        <td>O/N at Ladakh Residency Hotel.</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="sum-card lato">
                                                <h4 class="green text-uppercase">DAY 2</h4>
                                                <hr>
                                                <table>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/relax.png" class=""></td>
                                                        <td>Rafting from Nimoo to Sangam.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Visit Alchi and Likir monasteries.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Military fort of Basgo.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Hall of Fame.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Magnetic Hill.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Gurdwara Pather Sahib.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Confluence of Indus &amp; Zanskar river.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/hotel_bed.png" class=""></td>
                                                        <td>O/N at Ladakh Residency Hotel.</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="sum-card lato">
                                                <h4 class="green text-uppercase">DAY 3</h4>
                                                <hr>
                                                <table>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/jeep.png" class=""></td>
                                                        <td>Drive to Khardung La, the highest motorable road in the world.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/jeep.png" class=""></td>
                                                        <td>Drive downwards, towards Nubra Valley.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Visit the Diskit monastery.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Enjoy camel rides on the double humped camels at the Hunder sand dunes.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/camp.png" class=""></td>
                                                        <td>O/N stay at campsite - Organic Retreat.</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="sum-card lato">
                                                <h4 class="green text-uppercase">DAY 4</h4>
                                                <hr>
                                                <table>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/relax.png" class=""></td>
                                                        <td>Breakfast.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/jeep.png" class=""></td>
                                                        <td>Drive back to Leh via the same route.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/jeep.png" class=""></td>
                                                        <td>Ride ATV bikes on the sand dunes at Khalsar.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/hotel_bed.png" class=""></td>
                                                        <td>O/N Ladakh Residency hotel.</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6">
                                            <div class="sum-card lato">
                                                <h4 class="green text-uppercase">DAY 5</h4>
                                                <hr>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img src="css/images/itinerary_icons/alarm_clock.png" class="">
                                                        </td>
                                                        <td>Early start.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/jeep.png" class=""></td>
                                                        <td>Pangong lake - Journey over some breathtaking terrain and a high pass at Chang La.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>En route, visit the Thiksey monastery.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/camp.png" class=""></td>
                                                        <td>O/N Camp Redstarts.</td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="sum-card lato">
                                                <h4 class="green text-uppercase">DAY 6
                                                </h4>
                                                <hr>
                                                <table>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/jeep.png" class=""></td>
                                                        <td>Breakfast near the lake.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/jeep.png" class=""></td>
                                                        <td>Drive back to Leh.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/binocular.png" class=""></td>
                                                        <td>Visit the Hemis monastery, the richest in the region.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/hotel_bed.png" class=""></td>
                                                        <td>O/N Ladakh Residency.</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6">
                                            <div class="sum-card lato">
                                                <h4 class="green text-uppercase">DAY 7</h4>
                                                <hr>
                                                <table>
                                                    <tr>
                                                        <td><img src="css/images/itinerary_icons/jeep.png" class=""></td>
                                                        <td>Transfer to airport and departure.</td>
                                                    </tr>
                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <h3 class="lato-light">Hotel Details(click to follow)</h3>
                                <ul class="lato-light" style="font-style:italic;">
                                	<li><a href="https://goo.gl/xEPC05" class="green">Leh</a></li>
                                    <li><a href="https://goo.gl/4nUf2h" class="green">Nubra Valley</a></li>
                                    <li><a href="https://goo.gl/1u2Eo0" class="green">Pangong</a></li>
                                </ul>
                                <br>
                                <br>
                                <br>
                                
                            </div>
                        </div>
                        <div id="menu1" ng-show="pillTabIndex == 1" class="lato-light">
                            <div class="timeline-card col-md-12">
                                <div class="col-md-5">
                                    <div class="card-desc">
                                        <div class="card-date-loca"> <span class="card-location">
                                            <strong>Day 1 :</strong>
                                            </span> </div>
                                        <div class="location-desc"> <span>
                                            Arrive at Leh. Transfer to Hotel to for rest. It is essential to spend the day resting so as to acclimatise adequately.  In the evening, start out for some local sightseeing. Drive to the market, and walk to the LAMO house, a beautifully restored traditional house in old Leh. Continue on to the ruins of the Leh Palace, currently under the auspices of the Archeological Survey of India which is renovating this ancient castle overlooking Leh. End your day with a spectacular sunset from the Shanti Stupa, a white domed stupa overlooking the Leh valley. O/N at Ladakh Residency

                                            </span> </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-photo">
                                        <div class="panel"> <img src="../../../../css/images/leh_trip/day_1.jpg" class="img-responsive"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-card col-md-12">
                                <div class="col-md-5">
                                    <div class="card-desc">
                                        <div class="card-date-loca"> <span class="card-location">
                                            <strong>Day 2:</strong>
                                            </span> </div>
                                        <div class="location-desc"> <span>
                                            A full day visit to the monasteries of Alchi and Likir monasteries, driving through some beautiful terrain. The Alchi monastic complex (Alchi Choskor) comprises of 4 different settlements, of which the Alchi monastery is the oldest, being more than 900 years old- and has some fascinating ancient wall paintings not seen in any other monastery. The Likir monastery administers the Alchi monastery , and has more than 120 monks in attendance, along with an active school for young monks. You can also visit the ruins of the military fort of Basgo, as well as take in the beauty of the Indus and the Zanskar Rivers at their confluence. The Hall of Fame, Magnetic Field, and the Gurdwara Pather Sahib are other attractions on this route. An option is to first raft down from Nimoo to Sangam, and then complete your sightseeing. Return back to Leh. O/N Ladakh Residency.


                                            </span> </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-photo">
                                        <div class="panel"> 
                                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../../../../css/images/leh_trip/day_2.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="../../../../css/images/leh_trip/day_2_2.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="../../../../css/images/leh_trip/day_2_3.jpg" alt="Flower">
    </div>

    <div class="item">
      <img src="../../../../css/images/leh_trip/day_2_4.jpg" alt="Flower">
    </div>
    <div class="item">
      <img src="../../../../css/images/leh_trip/day_2_5.jpg" alt="Flower">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-card col-md-12">
                                <div class="col-md-5">
                                    <div class="card-desc">
                                        <div class="card-date-loca"> <span class="card-location">
                                            <strong>Day 3:</strong>
                                            </span> </div>
                                        <div class="location-desc"> <span>
                                            Take a ride up to Khardung La, the highest motorable road in the world. Drive downwards, towards Nubra Valley. Visit the Diskit monastery, from where you get a bird's eye view of the Shayok valley, and enjoy camel rides on the double humped camels at the Hunder sand dunes..O/N Camp
                                            </span>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-photo">
                                        <div class="panel"> 
                                        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel2" data-slide-to="1"></li>
    <li data-target="#myCarousel2" data-slide-to="2"></li>
    </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../../../../css/images/leh_trip/day_3.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="../../../../css/images/leh_trip/day_3_2.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="../../../../css/images/leh_trip/day_3_3.jpg" alt="Flower">
    </div>

    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-card col-md-12">
                                <div class="col-md-5">
                                    <div class="card-desc">
                                        <div class="card-date-loca"> <span class="card-location">
                                            <strong>Day 4:</strong>
                                            </span> </div>
                                        <div class="location-desc"> <span>
                                            Enjoy a leisurely breakfast, and drive back to Leh via the same route. You can opt to ride ATV bikes on the sand dunes at Khalsar. O/N Ladakh Residency.
                                            </span> </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-photo">
                                        <div class="panel"> <img src="../../../../css/images/leh_trip_photos/day_4.jpg" class="img-responsive"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-card col-md-12">
                                <div class="col-md-5">
                                    <div class="card-desc">
                                        <div class="card-date-loca"> <span class="card-location">
                                            <strong>Day 5:</strong>
                                            </span> </div>
                                        <div class="location-desc"> <span>
                                           An early start today takes you through a fascinating journey over some breathtaking terrain and a high pass at Chang La, to visit the Pangong Lake. En route, visit the Thiksey monastery,  Spend a few hours taking in the changing colours of the lake, and spend the night at in tents at the edge of the lake. O/N Camp Redstart.
                                            </span> </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-photo">
                                        <div class="panel"> 
                                        <div id="myCarousel3" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel3" data-slide-to="1"></li>
    <li data-target="#myCarousel3" data-slide-to="2"></li>
    </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../../../../css/images/leh_trip/day_5.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="../../../../css/images/leh_trip/day_5_2.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="../../../../css/images/leh_trip/day_5_3.jpg" alt="Flower">
    </div>

    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                                        </div>
                                </div>
                            </div>
                            </div>
                            <div class="timeline-card col-md-12">
                                <div class="col-md-5">
                                    <div class="card-desc">
                                        <div class="card-date-loca"> <span class="card-location">
                                            <strong>Day 6:</strong>
                                            </span> </div>
                                        <div class="location-desc"> <span>
                                            Wake up to breakfast near the lake, and drive back to Leh.  On the way, visit the Hemis monastery, the richest in the region. O/N Ladakh Residency.
                                            </span> </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-photo">
                                        <div class="panel"> <img src="../../../../css/images/leh_trip_photos/day_6.jpg" class="img-responsive"> </div>
                                    </div>
                                </div>
                            </div>
                             <div class="timeline-card col-md-12">
                                <div class="col-md-5">
                                    <div class="card-desc">
                                        <div class="card-date-loca"> <span class="card-location">
                                            <strong>Day 7:</strong>
                                            </span> </div>
                                        <div class="location-desc"> <span>
                                            Transfer to airport and departure.
                                            </span> </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-photo">
                                        <div class="panel"> <img src="../../../../css/images/markha_valley_trek_imgs/campture_markha_velley_trek_day9.jpg" class="img-responsive"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="menu2" ng-show="pillTabIndex == 2" class="lato-light">
                            <hr>
                            <h1>Transport</h1>
                            <p class="">Transport to and from the trek in SUVs. </p>
                            <hr>
                            <h1>Optional</h1>
                            <p class="">Single tent on the trek: INR 2100. </p>
                            <hr>
                            <h1>Inclusions</h1>
                            <ul class="">
                                <li>Top quality camping gear with Quechua tents. </li>
                                <li>Charges of 2 guides. </li>
                                <li>All meals during the trek (veg). </li>
                                <li>Porter/mule charges for carrying camping equipment &amp; rationsPorter/mule charges for carrying personal baggage (up to 10 kgs per person). </li>
                                <li>Airport transfers. </li>
                                <li>Trek with all arrangements (except sleeping bags). </li>
                                <li>Transport to and from the trek in SUVs. </li>
                                <li>First Aid / Medical kit. </li>
                                <li>Forest entry charges, permits &amp; camping fee (if any)Permits &amp; camping fee (if any). </li>
                            </ul>
                            <hr>
                            <h1>Exclusions</h1>
                            <ul class="">
                                <li>Supplement for sleeping bags- INR 650 per day.</li>
                                <li>Mineral water.</li>
                                <li>Meals in <strong><strong>Leh</strong></strong>.</li>
                                <li>Cost Escalation due to natural reasons.</li>
                                <li>Porter tips and gratuities.</li>
                                <li>Any kind of personal expenses.</li>
                                <li>Insurance.</li>
                                <li>Anything not specifically mentioned.</li>
                            </ul>
                            <hr>
                            <h1></h1> </div>
                        <div id="" ng-show="pillTabIndex == 3" class="lato-light toCarry">
                            <h1 class="green">What to Carry</h1>
                            <table class="lato">
                                <tbody>
                                    <tr>
                                        <td>Back pack &amp; rain cover</td>
                                        <td>(50 - 60 ltr) with comfortable shoulder straps</td>
                                    </tr>
                                    <tr>
                                        <td>Day pack + rain cover</td>
                                        <td>20 - 30 ltr (If hire a mule or porter)</td>
                                    </tr>
                                    <tr>
                                        <td>Walking stick</td>
                                        <td>Advisable (At least one)</td>
                                    </tr>
                                    <tr>
                                        <td>Head torch</td>
                                        <td>1 Nos. (Hand torch would be an alternative)</td>
                                    </tr>
                                    <tr>
                                        <td>Water bottle/Hydration pack</td>
                                        <td>2 bottles of one litre each</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>People who use hydration pack</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>1 hydration pack and 1 bottle of one liter</td>
                                    </tr>
                                    <tr>
                                        <td>Snacks</td>
                                        <td>Energy bars, dry fruits, electral/ors</td>
                                    </tr>
                                    <tr>
                                        <td>Personal Medical Kit</td>
                                        <td>Consult your doctor</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h1 class="green">What to wear</h1>
                            <table class="lato">
                                <tbody>
                                    <tr>
                                        <td>Trek pants</td>
                                        <td>2 Synthetic (avoid shorts, fitting denims, capris)</td>
                                    </tr>
                                    <tr>
                                        <td>T-shirts</td>
                                        <td>2 Full sleeves (Non-cotton)</td>
                                    </tr>
                                    <tr>
                                        <td>Fleece T-shirts</td>
                                        <td>1 Nos.</td>
                                    </tr>
                                    <tr>
                                        <td>Fleece jacket</td>
                                        <td>1 Nos. (Alternative: a woollen sweater)</td>
                                    </tr>
                                    <tr>
                                        <td>Down feather / Hollofil jacket</td>
                                        <td>1 Nos.</td>
                                    </tr>
                                    <tr>
                                        <td>Wind &amp; waterproof jacket &amp; pant</td>
                                        <td>1 Pair</td>
                                    </tr>
                                    <tr>
                                        <td>Thermal inners</td>
                                        <td>1 Pair</td>
                                    </tr>
                                    <tr>
                                        <td>Poncho</td>
                                        <td>1 Nos.</td>
                                    </tr>
                                    <tr>
                                        <td>Waterproof gloves</td>
                                        <td>1 Pair</td>
                                    </tr>
                                    <tr>
                                        <td>Fleece/woollen gloves</td>
                                        <td>1 Pair</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h1 class="green">Personal Utilities</h1>
                            <table class="lato">
                                <tbody>
                                    <tr>
                                        <td>Sunscreen cream</td>
                                        <td>Hand sanitizer</td>
                                    </tr>
                                    <tr>
                                        <td>Moisturiser</td>
                                        <td>Antibacterial powder</td>
                                    </tr>
                                    <tr>
                                        <td>Lip balm</td>
                                        <td>Toothbrush and toothpaste</td>
                                    </tr>
                                    <tr>
                                        <td>Toilet Paper &amp; wipes</td>
                                        <td>Quick dry towel</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h1 class="green">Head Gear</h1>
                            <table class="lato">
                                <tbody>
                                    <tr>
                                        <td>Sun cap</td>
                                        <td>1 Nos. (One that covers the neck as well)</td>
                                    </tr>
                                    <tr>
                                        <td>Woolen cap</td>
                                        <td>1 Nos.</td>
                                    </tr>
                                    <tr>
                                        <td>Woolen cap</td>
                                        <td>1 Nos.</td>
                                    </tr>
                                    <tr>
                                        <td>Balaclava</td>
                                        <td>1 Nos.</td>
                                    </tr>
                                    <tr>
                                        <td>Neck-gaiters</td>
                                        <td>1 Nos.</td>
                                    </tr>
                                    <tr>
                                        <td>Sunglasses</td>
                                        <td>Dark with side cover, it should be U/V protected.</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>      People who wear spectacles- </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>(A)- Use contact lenses. (Not for Chadar trek)</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>(B)- Photo chromatic glasses. </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h1 class="green">Footwear</h1>
                            <table class="lato">
                                <tbody>
                                    <tr>
                                        <td>Trekking shoes</td>
                                        <td>1 Pair (Waterproof, high ankle with good grip)</td>
                                    </tr>
                                    <tr>
                                        <td>Floaters/flip-flops</td>
                                        <td>1 Pair (Optional)</td>
                                    </tr>
                                    <tr>
                                        <td>Cotton socks</td>
                                        <td>4 pairs</td>
                                    </tr>
                                    <tr>
                                        <td>Woollen socks</td>
                                        <td>2 pairs</td>
                                    </tr>
                                    <tr>
                                        <td>Gaiters</td>
                                        <td>TTH team will notify you, if required</td>
                                    </tr>
                                    <tr>
                                        <td>Gumboots</td>
                                        <td>Required only for Chadar trek</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="" ng-show="pillTabIndex == 4" class="lato-light">
                        	<ol>
                            <li>Cancellations prior to 28 days from the start of the trip
10% of booking value will be charged as cancellation fee.</li>
​
<li>Cancellation prior to 21 days to the start of the trip
25% of booking value will be charged as cancellation fee.</li>
​
<li>Cancellation prior to 14 days to the start of the trek
50% of booking value will be charged as cancellation fee.</li>
​
<li>Cancellation less than 10 days to the start of the trip
100% of booking value will be charged as cancellation fees. No refund.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tour-pricing" id="sticker">
                        <h3><i class="fa fa-caret-right"></i> Base Price</h3>
                        <div class="sell-panel" style="margin-bottom:30px;">
                            <table class="table">
                                <tbody>
                                    <tr ng-repeat="tourPriceDetails in tourPrice.price_list">
                                        <td>{{tourPriceDetails.no_of_people}} People</td>
                                        <td class="green">INR {{tourPriceDetails.price}} Per Person</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="insp-panel">
                            <ul class="nav nav-tabs i-tabs nav-justified">
                                <li ng-class="{'active': privateGroupTabIndex == 0}" class=""><a ng-click="updatePrivateGroupTab(0)" data-toggle="pill">Private</a></li>
                                <li ng-class="{'active': privateGroupTabIndex == 1}"><a ng-click="updatePrivateGroupTab(1)" data-toggle="pill">Group</a> </li>
                            </ul>
                            <div class="tab-content">
                                <div ng-show="privateGroupTabIndex == 0" id="privbuy" class="">
                                    <br>
                                    <div class="date-month2 lato" style="">
                                        <label for="sel1">No. of People:</label>
                                        <div class="input-group spinner">
                                            <input type="number" ng-model="numberOfPeople" min="1" class="form-control" style="text-align:left;" ng-change="calculatePeoplesCost()">
                                            <span>{{peoplesCost}}</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="date-month2 lato" style="">
                                        <label for="sel1">Select Accommodation:</label>
                                        <!--<select class="form-control" ng-model="selectedAccomodation" ng-options="tourAccomodation.type for tourAccomodation in tourPrice.accomodation">
                                            <option ng-click="selectedAccomodation.cost = 0" value="">-- Select Accomodation --</option>
                                        </select>
                                        <div ng-show="selectedAccomodation.cost">{{3 * selectedAccomodation.cost * numberOfRooms }} for 3 Nights on twin sharing basis</div>-->
                                        <div class="mand">
                                        	<div class="text-center mandwithin" style="border-right:solid 1px #ccc;">
                                            	<p> Luxury</p>
                                                <span>INR 2500</span>
                                            </div>
                                            <div class="text-center mandwithin" style="border-right:solid 1px #ccc;">
                                            	<p> Budget</p>
                                                <span>INR 2500</span>
                                            </div>
                                            <div class="text-center mandwithin mandwithinactive">
                                            	<p> Homestay</p>
                                                <span>INR 2500</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--<div class="date-month2 lato" style="">
                                        <label for="sel1">Sleeping Bags:</label>
                                        <div class="input-group spinner">
                                            <input ng-model="totalSleepingBags" type="number" min="0" class="form-control" style="text-align:left;">
                                           <span> {{totalSleepingBags * tourPrice.sleeping_bag_cost}}</span>
                                        </div>
                                    </div>-->
                                </div>
                                <div ng-show="privateGroupTabIndex == 1" id="groupbuy" class="">
                                    <div class="green text-center lato">
                                        <h3 class="green">INR {{tourPrice.group_cost}}</h3>
                                        <p>per person</p>
                                    </div>
                                    <hr>
                                    <div class="lato flex" style="padding-left:20px; padding-right:20px;">
                                        <div class="date-month2 lato" style="">
                                            <label for="sel1">No. of People:</label>
                                            <div class="input-group spinner">
                                                <input type="number" ng-model="numberOfPeopleInGroup" min="1" class="form-control" style="text-align:left;" >
                                            </div>
                                        </div>
                                        <div class="date-month">
                                            <label for="sel1">Month:</label>
                                            <select class="form-control" id="sel1" ng-model="selectedMonth" ng-options="groupMonth.Value for groupMonth in groupMonthsList">
                                            </select>
                                        </div>
                                        <div class="date-month">
                                            <label for="sel1">Date:</label>
                                            <select class="form-control" id="sel2" ng-model="selectedDate" ng-options="groupDate for groupDate in groupDateList">
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--<div class="date-month2 lato" style="">
                                        <label for="sel1">Sleeping Bag:</label>
                                        <input ng-model="totalSleepingBagsGroup" type="number" min="0" class="form-control">
                                            {{totalSleepingBagsGroup * tourPrice.sleeping_bag_cost}}
                                    </div>-->
                                </div>
                                <br>
                                <div class="flex lato text-center">
                                    <div  class="date-month inr" style="border-bottom-left-radius:6px;"> <i class="fa fa-shopping-cart"></i> <span ng-show="privateGroupTabIndex == 0 && numberOfPeople">INR {{(peoplesCost + (3 * selectedAccomodation.cost * numberOfRooms) + (totalSleepingBags * tourPrice.sleeping_bag_cost))/numberOfPeople | number:0}} per person</span> <span ng-show="privateGroupTabIndex == 1 &&numberOfPeopleInGroup"> INR {{ ((numberOfPeopleInGroup * tourPrice.group_cost) + (totalSleepingBagsGroup * tourPrice.sleeping_bag_cost))/numberOfPeopleInGroup | number:0}} per person</span></div>
                                    <div class="date-month inr dark-green-bg" style="border-bottom-right-radius:6px; cursor:pointer;" data-toggle="modal" data-target="#enqModal"> Enquire Now <i class="fa fa-angle-right"></i> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
<!-- Enquire Modal -->
<div class="modal fade" id="enqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title lato-light" id="myModalLabel">Enquire</h4> </div>
            <div class="modal-body"> 
            <div ng-show="privateGroupTabIndex == 0" class="text-center green lato">
            	<h3>Number of people: {{numberOfPeople}}</h3>
                <h3>Accomodation: <span ng-show="selectedAccomodation.cost != 0">{{selectedAccomodation.type}}</span><span ng-show="selectedAccomodation.cost == 0">No accomodation selected</span></h3>
                <h3>Sleeping bags: {{totalSleepingBags}}</h3>
                <h3>Final cost: INR {{(peoplesCost + (3 * selectedAccomodation.cost * numberOfRooms) + (totalSleepingBags * tourPrice.sleeping_bag_cost))/numberOfPeople | number:0}} per  person</h3>
            </div>
            <div ng-show="privateGroupTabIndex == 1" class="text-center green lato">
            	<h3>Number of people: {{numberOfPeopleInGroup}}</h3>
                <h3>Sleeping bags: {{totalSleepingBagsGroup}}</h3>
                <h3>Final cost: INR {{ ((numberOfPeopleInGroup * tourPrice.group_cost) + (totalSleepingBagsGroup * tourPrice.sleeping_bag_cost))/numberOfPeopleInGroup | number:0}} per person</h3>
            </div>
            <form role="form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input ng-model="userQuery.name" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="no">Phone No:</label>
    <input ng-model="userQuery.phone" type="tel" class="form-control" id="" required>
  </div>
<div class="form-group">
    <label for="email">Email:</label>
    <input ng-model="userQuery.email" type="email" class="form-control" id="" required>
  </div>
  <div class="form-group">
    <label for="message">Message:</label>
    <textarea ng-model="userQuery.message" rows="4" class="form-control"></textarea>
    </div>
	  
  </form>
  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="sendUserQuery()" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>    
<script src="app/components/tours/particles.min.js"></script>
<script src="app/components/tours/jquery.sticky.js"></script>
<script src="app/components/tours/animatescroll.min.js"></script>
<script src="app/components/tours/script_mv.js"></script>
<script src="app/components/tours/appss.js"></script>