
<div class="text-center">
	<div class="map">
    <ui-gmap-google-map center="map.center" zoom="map.zoom"  options="options" bounds="map.bounds">
        <ui-gmap-marker coords="marker.coords"  idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="map-mask"></div>
    </div>
    <div ng-show="isResultsShown" class="destinationDetails col-md-12 text-center container">
    <h2>{{location}}</h2>
    <span>Low Temp: {{minTemp | number:2}}  </span>   <span>High Temp: {{maxTemp | number:2}}</span><div class="tempurature"><i class="fa fa-sun-o" style="font-size:22px;"></i></div><br>
    <!--<a href="#/gearChecklistForm/" class="btn btn-primary" ><i class="fa fa-pencil-square-o" aria-hidden="true"> </i> Modify Trip</a>-->
    <a href="#/gearChecklistForm/" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> New Trip</a>
    </div>
    
        
    <div ng-show="isResultsShown" class="container">
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" ng-click="updateTabPos(0)">List View</a></li>
    <li><a data-toggle="pill" ng-click="updateTabPos(1)">Thumbnail View</a></li>
    <li><a data-toggle="pill">Download List</a></li>
  </ul>
  <div class="">
    <div id="menu1" ng-show="profileTabPos == 0" class="">
  Carrying Gear
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Description</th>
    	<th>Buy Now</th>
      </tr>
    </thead>
    <tbody>        
      <tr ng-repeat="gear in gearList" ng-if="gear.category_id == 0">
        <td class="itemName">{{gear.name}}</td>
        <td class="itemDesc">{{gear.description}}</td>
        <td><button class="btn btn-primary disabled">Buy Now</button></td>
      </tr>
      </tbody>
  </table>
    Sleeping Gear
    <table class="table">
    <thead>
        <tr>
        <th>Item Name</th>
        <th>Item Description</th>
    	<th>Buy Now</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="gear in gearList" ng-if="gear.category_id == 1">
        <td class="itemName">{{gear.name}}</td>
        <td class="itemDesc">{{gear.description}}</td>
        <td><button class="btn btn-primary disabled">Buy Now</button></td>
        </tr>
        </tbody>
    </table>
    Footware
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Description</th>
    	<th>Buy Now</th>
      </tr>
    </thead>
    <tbody>        
      <tr ng-repeat="gear in gearList" ng-if="gear.category_id == 2">
        <td class="itemName">{{gear.name}}</td>
        <td class="itemDesc">{{gear.description}}</td>
        <td><button class="btn btn-primary disabled">Buy Now</button></td>
      </tr>
      </tbody>
  </table>
    Clothing Items
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Description</th>
    	<th>Buy Now</th>
      </tr>
    </thead>
    <tbody>        
      <tr ng-repeat="gear in gearList" ng-if="gear.category_id == 3">
        <td class="itemName">{{gear.name}}</td>
        <td class="itemDesc">{{gear.description}}</td>
        <td><button class="btn btn-primary disabled">Buy Now</button></td>
      </tr>
      </tbody>
  </table>
         Accessories & Essentials
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Description</th>
    	<th>Buy Now</th>
      </tr>
    </thead>
    <tbody>        
      <tr ng-repeat="gear in gearList" ng-if="gear.category_id == 4">
        <td class="itemName">{{gear.name}}</td>
        <td class="itemDesc">{{gear.description}}</td>
        <td><button class="btn btn-primary disabled">Buy Now</button></td>
      </tr>
      </tbody>
  </table>
         Cooking Essential
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Description</th>
    	<th>Buy Now</th>
      </tr>
    </thead>
    <tbody>        
      <tr ng-repeat="gear in gearList" ng-if="gear.category_id == 5">
        <td class="itemName">{{gear.name}}</td>
        <td class="itemDesc">{{gear.description}}</td>
        <td><button class="btn btn-primary disabled">Buy Now</button></td>
      </tr>
      </tbody>
  </table>
        <!--Safety & Emergency Gear
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Description</th>
    	<th>Buy Now</th>
      </tr>
    </thead>
    <tbody>        
      <tr ng-repeat="gear in gearList" ng-if="gear.category_id == 6">
        <td class="itemName">{{gear.name}}</td>
        <td class="itemDesc">{{gear.description}}</td>
        <td><button class="btn btn-primary disabled">Buy Now</button></td>
      </tr>
      </tbody>
  </table>-->
    </div>
    <div id="menu2" ng-show="profileTabPos == 1" class="ng-hide" >
      <h3>Thumbnail View</h3>
      <div  class="gearListResults">
          Carrying Gear
        <div class="row">            
            <div class="col-sm-6 col-md-3" ng-repeat="gear in gearList" ng-if="gear.category_id == 0">
                <div class="thumbnail">
                    <img ng-src="{{gear.image_url}}" alt="...">
                    <div class="caption">
                        <h3>{{gear.name}}</h3>
                        <p>{{gear.description}}</p>
                    </div>
                </div>
            </div>

        </div>
          Sleeping Gear
        <div class="row">            
            <div class="col-sm-6 col-md-3" ng-repeat="gear in gearList" ng-if="gear.category_id == 1">
                <div class="thumbnail">
                    <img ng-src="{{gear.image_url}}" alt="...">
                    <div class="caption">
                        <h3>{{gear.name}}</h3>
                        <p>{{gear.description}}</p>
                    </div>
                </div>
            </div>

        </div>
          Footware
        <div class="row">            
            <div class="col-sm-6 col-md-3" ng-repeat="gear in gearList" ng-if="gear.category_id == 2">
                <div class="thumbnail">
                    <img ng-src="{{gear.image_url}}" alt="...">
                    <div class="caption">
                        <h3>{{gear.name}}</h3>
                        <p>{{gear.description}}</p>
                    </div>
                </div>
            </div>

        </div>
          Clothing Items
        <div class="row">            
            <div class="col-sm-6 col-md-3" ng-repeat="gear in gearList" ng-if="gear.category_id == 3">
                <div class="thumbnail">
                    <img ng-src="{{gear.image_url}}" alt="...">
                    <div class="caption">
                        <h3>{{gear.name}}</h3>
                        <p>{{gear.description}}</p>
                    </div>
                </div>
            </div>

        </div>
          Accessories & Essentials
        <div class="row">            
            <div class="col-sm-6 col-md-3" ng-repeat="gear in gearList" ng-if="gear.category_id == 4">
                <div class="thumbnail">
                    <img ng-src="{{gear.image_url}}" alt="...">
                    <div class="caption">
                        <h3>{{gear.name}}</h3>
                        <p>{{gear.description}}</p>
                    </div>
                </div>
            </div>

        </div>
          Cooking Essential
        <div class="row">            
            <div class="col-sm-6 col-md-3" ng-repeat="gear in gearList" ng-if="gear.category_id == 5">
                <div class="thumbnail">
                    <img ng-src="{{gear.image_url}}" alt="...">
                    <div class="caption">
                        <h3>{{gear.name}}</h3>
                        <p>{{gear.description}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Download List</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
</div>
