
<div class="text-center">
	<div class="map">
    <ui-gmap-google-map center="map.center" zoom="map.zoom"  options="options" bounds="map.bounds">
        <ui-gmap-marker coords="marker.coords"  idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="map-mask"></div>
    </div>
    <div ng-show="isResultsShown" class="destinationDetails col-md-12 text-center container">
    <h2>{{location}}</h2>
    <span>Low Temp: {{minTemp | number:2}}  </span>   <span>High Temp: {{maxTemp | number:2}}</span><div class="tempurature"><i class="fa fa-sun-o" style="font-size:22px;"></i></div><br>
    <button class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"> </i> Modify Trip</button>
    <button class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> New Trip</button>
    </div>
    
        
    <div ng-show="isResultsShown" class="container">
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" ng-click="updateTabPos(0)">List View</a></li>
    <li><a data-toggle="pill" ng-click="updateTabPos(1)">Thumbnail View</a></li>
    <li><a data-toggle="pill">Download List</a></li>
  </ul>
  <div class="">
    <div id="menu1" ng-show="profileTabPos == 0" class="">            
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Description</th>
    	<th>Buy Now</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="gear in gearList">
        <td class="itemName">{{gear.name}}</td>
        <td class="itemDesc">{{gear.description}}</td>
        <td><button class="btn btn-primary disabled">Buy Now</button></td>
      </tr>

      </tbody>
  </table>
    </div>
    <div id="menu2" ng-show="profileTabPos == 1" class="ng-hide" >
      <h3>Thumbnail View</h3>
      <div  class="gearListResults">
        <div class="row">
            <div class="col-sm-6 col-md-3" ng-repeat="gear in gearList">
                <div class="thumbnail">
                    <img ng-src="{{gear.image_url}}" alt="...">
                    <div class="caption">
                        <h3>{{gear.name}}</h3>
                        <p>{{gear.description}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Download List</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
</div>
<div ng-show="!isResultsShown" class="text-center" >
<div class="gearListWrap container">
 I am travelling to
        <div class="gearFormInput ">
            <input name="location" type="text" placeholder="Enter Location" ng-autocomplete ng-model="location" options="options" details="details" required>
        </div>
 in the month of
        <div class="gearFormInput">
            <input name="date" type="text" placeholder="Enter Month" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open($event)" id="date" required>
        </div>
for
        <div class="gearFormInput">
            <input type="number" placeholder="No of days" ng-model="duration" required>.
        </div>
 Show me what to pack in my backpack.
  <br>  <button style="margin-top: 20px" class="btn btn-success" ng-click="getGearCheckList()">Let's Go!</button>
    </div>
    
</div>