<div ng-show="userObj == undefined" class="interview-bg">
    <div class="container text-center" style="padding-top:8%;">
    <img src="../../../css/images/interview-assets/heading.png" class="img-responsive" style="margin:auto; padding-top:20px;"><div class="" style="color:#525354;">
        <h2>Hey there, we are tracking down travellers from all over the world to feature them in our series of blog posts.</h2>
        </div>
        <img src="../../../css/images/image-56aa090b8531f-big.gif">
    
        <h3 style="color:#f56c36;"> Let’s get to know you better!</h3>
        <h4 style="color:#525354;">Login with Facebook to start your interview with Campture.</h4>
        <button ng-click="loginForChat()" class="btn loginwithfacebook"><i class="fa fa-facebook"></i> Let's talk travel</button>
        
    </div>
</div>
<div class="interview-bg">
<div ng-show="userObj" class="container">
    <!-- Top Navigation -->
    <div class="text-center">
        <img src="../../../css/images/interview-assets/heading.png" class="img-responsive" style="margin:auto; padding-top:20px;">
    </div>
    <div ng-show="!isFormSubmitted" class="col-md-2 col-sm-2 col-xs-2 img-us">
    <img src="../../../css/images/image-56aa090b8531f-default.gif" class="img-responsive">
    </div>
	<div class="col-md-11 col-sm-11 col-xs-11 img-user">
    <section class="question">
        <form id="theForm" class="simform" autocomplete="off">
            <div class="simform-inner">
                <ol class="questions">
                    <li>
                        <span class="bubble">
                            
                                <label for="q1">First of all, Where did you go?</label>
                            </span>
                        <span class="bubble--alt">
                            <input id="q1" name="q1" type="text" ng-autocomplete ng-model="form.location" options="options" details="details" autofocus required placeholder="enter location name and select"/>
                        </span>
                    </li>
                    <li>
                        <span class="bubble">
                            
                           
                                <label for="q2">Awesome! For how many days?</label>
                            </span>
                        <span class="bubble--alt">
                            <input id="q2" name="q2" type="number" ng-model="form.duration"  pattern="\d*" placeholder="no. of days"/>
                        </span>
                    </li>
                    <li>
                        <span class="bubble">
                            
                                <label for="q7">Tell us a lil bit about this place..</label>
                            </span>
                        <span class="bubble--alt">
                            <input id="q7" name="q7" type="text" ng-model="form.returnReason" placeholder="eg: Tirthan Valley is a destination with plethora of delights. this place is abundant in adventurous activities and a paradise for nature lovers"/>
                        </span>
                    </li>
                    <li>
                        <span class="bubble">
                            <label for="q3">What was your travel style for this trip? Backpacking or Suitcase?</label>
                            </span><br>
                        <span class="bubble--alt">
                            <span class="radios">
                                <input id="q3a" name="q3" type="radio" ng-model="form.isBackPackOrSuitcase" value="Backpack" required placeholder="Best moment - Eg: During my recent trek to Triund, we woke up to fresh snow.."/>
                                <label for="q3a" style="background-image:url(css/images/Interview%20Icons/bag.png); background-position:center" class="customLabel" value="backpack">
                               Backpack
                                </label>
                            </span>
                            <span class="radios">
                                <input id="q3b" name="q3" type="radio" ng-model="form.isBackPackOrSuitcase" value="Suitcase" required />
                                <label for="q3b" style="background-image:url(css/images/Interview%20Icons/suitcase.png); background-position:center" class="customLabel" value="suitcase">
                               Suitcase
                                </label>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="bubble"><label for="q4">Camping or Guesthouse/hotel?</label></span><br>
                        <span class="bubble--alt">
                            <span class="radios">
                                <input id="q4a" name="q4" type="radio" ng-model="form.isCampingOrHotel" value="Camping" />
                                <label for="q4a" style="background-image:url(css/images/Interview%20Icons/tent.png); background-position:center" class="customLabel"><br>
                               Camping
                                </label>
                            </span>
                            <span class="radios">
                                <input id="q4b" name="q4" type="radio" ng-model="form.isCampingOrHotel" value="Hotel" />
                                <label for="q4b" style="background-image:url(css/images/Interview%20Icons/building.png); background-position:center" class="customLabel"><br>
                               Hotel
                                </label>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="bubble">
                            
                                <label for="q5"> How did you get to this awesome place?</label>
                           </span><br />
                        <span class="bubble--alt">
                            <span class="radios">
                                <input id="q5a" name="q5" type="radio" ng-model="form.transportMode" value="Airplane" />
                                <label for="q5a" style="background-image:url(css/images/Interview%20Icons/airplane.png); background-position:center" class="customLabel"><br>
                               Airplane
                                </label>
                            </span>
                            <span class="radios">
                                <input id="q5b" name="q5" type="radio" ng-model="form.transportMode" value="Bicycle" />
                                <label for="q5b" style="background-image:url(css/images/Interview%20Icons/cycle.png); background-position:center" class="customLabel"><br>
                               Bicycle
                                </label>
                            </span>
                            <span class="radios">
                                <input id="q5c" name="q5" type="radio" ng-model="form.transportMode" value="Bus" />
                                <label for="q5c" style="background-image:url(css/images/Interview%20Icons/bus.png); background-position:center" class="customLabel"><br>
                               Bus
                                </label>
                            </span>
                            <span class="radios">
                                <input id="q5d" name="q5" type="radio" ng-model="form.transportMode" value="Car" />
                                <label for="q5d" style="background-image:url(css/images/Interview%20Icons/car.png); background-position:center" class="customLabel"><br>
                               Car
                                </label>
                            </span>
                            <span class="radios">
                                <input id="q5e" name="q5" type="radio" ng-model="form.transportMode" value="Motorbike" />
                                <label for="q5e" style="background-image:url(css/images/Interview%20Icons/bike.png); background-position:center" class="customLabel"><br>
                               Motorbike
                                </label>
                            </span>
                            <span class="radios">
                                <input id="q5f" name="q5" type="radio" ng-model="form.transportMode" value="Train" />
                                <label for="q5f" style="background-image:url(css/images/Interview%20Icons/train.png); background-position:center" class="customLabel"><br>
                               Train
                                </label>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="bubble">
                            
                                <label for="q6">What was your best moment of the trip?</label>
                            </span>
                        <span class="bubble--alt">
                            <input id="q6" name="q6" type="text" ng-model="form.speciality" placeholder="Best moment - Eg: During my recent trek to Triund, we woke up to fresh snow.."/>
                        </span>
                    </li>                    
                    <li>
                        <span class="bubble">
                            
                                <label for="q8">How would you describe the experience of your trip?</label>
                            </span><br>
                        <span class="bubble--alt">
                            <span class="radios">
                                <input id="q8a" ng-model="form.reviewRating" name="q8" type="radio" value="1" />
                                <label for="q8a" class="customLabel" style="background-image:url(../../../css/images/Interview%20Icons/01.png)"></label>
                            </span>
                            <span class="radios">
                                <input id="q8b" ng-model="form.reviewRating" name="q8" type="radio" value="2" />
                                <label for="q8b" class="customLabel" style="background-image:url(../../../css/images/Interview%20Icons/02.png)"></label>
                            </span>
                            <span class="radios">
                                <input id="q8c" ng-model="form.reviewRating" name="q8" type="radio" value="3" />
                                <label for="q8c" class="customLabel" style="background-image:url(../../../css/images/Interview%20Icons/03.png)"></label>
                            </span>
                            <span class="radios">
                                <input id="q8d" ng-model="form.reviewRating" name="q8" type="radio" value="4" />
                                <label for="q8d" class="customLabel" style="background-image:url(../../../css/images/Interview%20Icons/04.png)"></label>
                            </span>
                            <span class="radios">
                                <input id="q8e" ng-model="form.reviewRating" name="q8" type="radio" value="5" />
                                <label for="q8e" class="customLabel" style="background-image:url(../../../css/images/Interview%20Icons/05.png)"></label>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="bubble">
                            
                                <label for="q9">Any tips from your experience for other travellers?</label>
                            </span>
                        <span class="bubble--alt">
                            <input id="q9" ng-model="form.tip" name="q9" type="text" placeholder="tips - eg: recommend to carry food & water on this trek as there is no food available throughout."/>
                        </span>
                    </li>
                    <li>
                        <span class="bubble">
                            
                                <label for="q10">Lastly, what’s next on your bucket list?</label>
                            
                            </span>
                        <span class="bubble--alt">
                            <input id="q10" ng-model="form.nextAdventure" name="q10" type="text" />
                        </span>
                    </li>
                </ol><!-- /questions -->
                <button class="submit" type="submit">Send answers</button>
                <div class="controls">
                    <button class="next"><i class="fa fa-angle-right"></i></button>
                    <div class="progress"></div>
                    <span class="number">
                        <span class="number-current"></span>
                        <span class="number-total"></span>
                    </span>
                    <span class="error-message"></span>
                </div><!-- / controls -->
            </div><!-- /simform-inner -->
            <span class="final-message"></span>
            <div form-submit ng-model="form"></div>
        </form><!-- /simform -->
    </section>
    </div>
    
    <div ng-show="!isFormSubmitted" class="col-md-2 col-sm-2 col-xs-2 pull-right">
        <img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-responsive img-circle">
    </div>
    <div style="margin: auto">
    <div ng-show="isFormSubmitted" class="col-md-2 col-sm-2 col-xs-2 img-us col-md-offset-5"  style="margin-top: 150px;">
    <img src="../../../css/images/image-56aa090b8531f-default.gif" class="img-responsive">
    </div>
        <div ng-show="isFormSubmitted"  class="row" style="clear:both">
        <div class="col-md-3 col-sm-4 col-xs-4 col-md-offset-1">
            <a href="#/gearChecklistForm">
            <div class="thumbnail">
            <img src="../../../css/images/interview-assets/gear_checklist.jpg">
                <div  class="caption text-center">Heading outdoor? Make sure you have the right gear.</div>
            </div>
                </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-4">
            <a  href="" ng-click="reloadChatWithCampture()">
            <div class="thumbnail">
            <img src="../../../css/images/interview-assets/blog.jpg">
                <div  class="caption text-center"> Have another experience to share? Lets talk again!
</div>
            </div>
                </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-4">
            <a  href="http://www.campture.com/blog">
            <div  class="thumbnail">
            <img src="../../../css/images/interview-assets/campture_talk_retake.jpg">
                <div style="padding-bottom: 29px" class="caption  text-center">Check out the latest travel buzz.</div>
            </div>
                </a>
        </div>
        
        </div>
      </div>
</div><!-- /container -->
</div>