<div class="bodywrap">
    <div class="jumbotron">
        <div class="nav">
            <div class="text-center yourguide">
                <img src="Images/Logo 2-min.png" class="img-responsive herologo">
                <div class="row" style="margin-bottom: 10px;">
                    <span class="yourexpert">Your expert guide to everything outdoors</span>
                </div>
                <br>
                <form ng-submit="sendUserEmail()">
                <div class="input-group col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10  col-xs-offset-1 maxwidth">                    
                    <input ng-model="emailField1" type="text" class="form-control form-control-camptureme" placeholder="Your email address" required>
                    <span class="input-group-btn">
                        <button class="btn btn-orange" type="submit">Campture Me!</button>
                    </span>                                     
                </div>
                    </form>
                    <p ng-show="isemailField1Sent" style="font-family:lato-light;">
                    Thank You!
                    </p> 
                <!-- /input-group -->
                <a href="https://www.facebook.com/groups/campture/?fref=ts" style="color:white;" target="_blank">
                    <button class="btn btn-orange joincommunity maxwidth" type="button"><span><em class="fa fa-facebook">&nbsp; &nbsp; </em>Join our adventure community</span></button>
                </a>
            </div>
            <div class="floating-icons text-center col-lg-offset-3 col-lg-6">
                <a href="https://www.facebook.com/CamptureApp/?fref=ts"><span class="footersocial"><i class="fa fa-facebook"></i></span></a> <a href="https://twitter.com/Campture"><span class="footersocial"><i class="fa fa-twitter"></i></span></a>
                <!--<span class="footersocial"><i class="fa fa-google-plus"></i></span>!-->
                <!--<span class="footersocial"><i class="fa fa-instagram"></i></span>!-->
                <a href="https://www.pinterest.com/campture/"><span class="footersocial"><i class="fa fa-pinterest"></i></span></a>
            </div>
        </div>
        <div class="stamp container">
            <img src="Images/Badge.png" class="img-responsive">
        </div>
    </div>
</div>

<div class="secondsection text-center">
    <p class="outdoor">Outdoor Travel Simplified</p>
    <div class="row">
        <p class="campturelets">With Campture, you dream, you chose your destination and<br>
 discover new oceans while you lose sight of the seashore.
            <br>Travel the way you desire. </p>
    </div>
    <div class="container">
        <div class="row features text-center container">
            <div class="col-md-2 col-md-offset-1">
                <img class="img-responsive marginauto" src="Images/New Jpeg Icons/Vector-Smart-Object.jpg">
                <p>Explore Locations</p>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <img src="Images/New Jpeg Icons/Vector-Smart-Object1.jpg" class="img-responsive marginauto">
                <p>Discover Experiences</p>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <img src="Images/New Jpeg Icons/Vector-Smart-Object2.jpg" class="img-responsive marginauto">
                <p>Book<br> Trips</p>
            </div>
        </div>
    </div>
</div>
<div class="checklistShowcase container text-center">
<div class="row">
<div class="col-md-6">
<div class="row">
<div class="col-md-12">
<h2 class="outdoor">Gear Checklist Generator</h2>
<p class="campturelets">get the right gear for your next hiking trip</p>
<a href="#/gearChecklistForm" class=" button btn btn-campture btn-lg" style="margin-top:20px; margin-bottom:20px;">Show Me What to Pack</a>
</div>
<div class="col-md-12">
<img src="../../../css/images/Tent.png" class="hidden-sm hidden-xs">
</div>
</div>
</div>
<img src="../../../css/images/bag.png" class="col-md-6 col-sm-12 img-responsive">
</div>
</div>
<div class="ladhakpreview">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6 text-center">
        <p class="outdoor" style="text-align:center;"><br>
<br>
<br>
Discover Offbeat <br>
Locations</p>
<p class="campturelets">Trek to offbeat locations, Raft in the adventurous rivers, Scuba in the deep seas or just spend a day camping.</p>
        </div>
        <div class="col-md-6">
        <img src="../../../css/images/Location-mockup.jpg" class="img-responsive pull-right">
        </div>
        </div>
    </div>
</div>
<div class="headerfour text-center">
    <p class="outdoor">Explore amazing itineraries</p>
    <p class="campturelets"> Go out for an adventure! In the barren lands and slopes, you find it hard not to thank this world.<br>
        <span style="font-style:italic">Discover</span> your station, <span style="font-style:italic">Pen down</span> your adventures and <span style="font-style:italic">Share</span> it</p>
    <div class="headerfourbg text-center">
        <img src="Images/Explore Amazing Itineraries.png" class="img-responsive" style="margin:auto;">
    </div>
</div>
<!--<div class="fourthsection text-center">
    <p class="outdoor">Get Camptured!</p>
    <p class="campturelets"> Nature is hosting special exhibitions everywhere, pack your bags!</p>
</div>-->
<div class="third-section text-center">
    <img src="Images/Mountains.png">
    <p class="outdoor">Discover Activities</p>
    <p class="campturelets">With unique tours &amp; activities, awaken that globetrotter within. Trek to offbeat locations, raft in the adventurous rivers, scuba in the deep seas or just spend a day camping.</p>
    <div class="mockups container">
        <div class="mac col-md-6 col-lg-6 img-responsive hidden-sm hidden-xs">
            <img src="Images/Mockups/Apple_Macbook_Pro_Retina_2015.png" style="margin-top:6px;">
            <p>Coming soon on:&nbsp;&nbsp;&nbsp;<i class="fa fa-desktop"></i></p>
        </div>
        <div class="iphone col-md-3 col-lg-3 col-sm-12">
            <img src="Images/Mockups/iphone mockup.png" style="margin-top:3px;">
            <p><i class="fa fa-apple"></i></p>
        </div>
        <div class="nexus col-md-3 col-lg-3 col-sm-12">
            <img src="Images/Mockups/Nexus5.png">
            <p><i class="fa fa-android"></i></p>
        </div>
    </div>
</div>

<div class="sectionfive text-center">
    <img src="Images/Chat Icon.png">
    <p class="outdoor">Contact Us</p>
    <p class="campturelets">Put yourself out there with the people, places and things that make it worth exploring. This is your world. Go, Campture it!</p>
    <form ng-submit="sendUserQuery()">
    <div class="form-group contactform maxwidth container text-center">
        <p>Name</p>
        <input ng-model="userName" type="text" class="form-control formcomponent" placeholder="" aria-describedby="basic-addon1" required>
        <p>Email</p>
        <input ng-model="emailField2" type="text" class="form-control formcomponent" placeholder="" aria-describedby="basic-addon1" required>
        <p>Subject</p>
        <input ng-model="mailSubject" type="text" class="form-control formcomponent" placeholder="" aria-describedby="basic-addon1">
        <p>Message</p>
        <input ng-model="mailMessage" type="text" class="form-control formcomponent" placeholder="" aria-describedby="basic-addon1">
        <button class="btn btn-orange" type="submit" ng-click=""><span>Send Message</span></button><br>
        <span ng-show="isContactUsFormSent">Thank You!</span>
    </div>
    </form>
</div>