<div class="bodywrap">
            <div class="jumbotron">
                <div class="nav">
                    <div class="text-center yourguide">
                        <img src="Images/Logo 2.png" class="img-responsive herologo">
                        <div class="row" style="margin-bottom: 10px;">
                            <span class="yourexpert">Your expert guide to everything outdoor</span>
                        </div>
                        <br>
                        <div class="input-group col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10  col-xs-offset-1 maxwidth">
                            <input type="text" class="form-control form-control-camptureme" placeholder="Your email address">
                            <span class="input-group-btn">
                                <button class="btn btn-orange" type="button">Campture Me!</button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <a href="https://www.facebook.com/groups/campture/?fref=ts" style="color:white;">
                            <button class="btn btn-orange joincommunity maxwidth" type="button"><span><em class="fa fa-facebook">&nbsp; &nbsp; </em>Join our adventure community</span></button>
                        </a>
                    </div>
                    <div class="floating-icons text-center col-lg-offset-3 col-lg-6">
                        <a href="https://www.facebook.com/CamptureApp/?fref=ts"><span class="footersocial"><i class="fa fa-facebook"></i></span></a> <a href="https://twitter.com/Campture"><span class="footersocial"><i class="fa fa-twitter"></i></span></a>
                        <!--<span class="footersocial"><i class="fa fa-google-plus"></i></span>!-->
                        <!--<span class="footersocial"><i class="fa fa-instagram"></i></span>!-->
                        <a href="https://www.pinterest.com/campture/"><span class="footersocial"><i class="fa fa-pinterest"></i></span></a>
                    </div>
                </div>
                <div class="stamp container">
                    <img src="Images/Badge.png" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="secondsection text-center">
            <p class="outdoor">Outdoor Travel Simplified</p>
            <div class="row">
                <p class="campturelets col-md-6 col-md-offset-3">With Campture, you dream, you chose your destination and discover new oceans while you lose sight of the seashore.
                    <br>Travel the way you desire. </p>
            </div>
            <div class="container">
                <div class="row features text-center container">
                    <div class="col-md-2 col-md-offset-1">
                        <img class="img-responsive marginauto" src="Images/New Jpeg Icons/Vector-Smart-Object.jpg">
                        <p>Explore Locations</p>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <img src="Images/New Jpeg Icons/Vector-Smart-Object1.jpg" class="img-responsive marginauto">
                        <p>Discover Experiences</p>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <img src="Images/New Jpeg Icons/Vector-Smart-Object2.jpg" class="img-responsive marginauto">
                        <p>Book<br> Trips</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="third-section text-center">
            <img src="Images/Mountains.png">
            <p class="outdoor">Discover Activities</p>
            <p class="campturelets">With unique tours &amp; itineraries from travelers, awaken that globetrotter within. Whenever possible, travel; even solo.
 It is possible to be a tourist on one day and traveller the other. So, where next?</p>
            <div class="mockups container">
                <div class="mac col-md-6 col-lg-6 text-center img-responsive">
                    <img src="Images/Mockups/Apple Macbook Pro Retina 2015 copy.png">
                </div>
                <div class="iphone col-md-3 col-lg-3 text-center">
                    <img src="Images/Mockups/iphone mockup.png">
                </div>
                <div class="nexus col-md-3 col-lg-3">
                    <img src="Images/Mockups/Nexus5.png">
                </div>
            </div>
        </div>
        <div class="headerfour text-center">
            <p class="outdoor">Explore amazing itineraries</p>
            <p class="campturelets"> Go out for an adventure! In the barren lands and slopes, you find it hard not to thank this world.<br>
                <span style="font-style:italic">Discover</span> your station, <span style="font-style:italic">Pen down</span> your adventures and <span style="font-style:italic">Share</span> it</p>
            <div class="headerfourbg text-center">
                <img src="Images/Explore Amazing Itineraries.png" class="img-responsive" style="margin:auto;">
            </div>
        </div>
        <div class="fourthsection text-center">
            <p class="outdoor">Get Camptured!</p>
            <p class="campturelets"> Nature is hosting special exhibitions everywhere, pack your bags!</p>
        </div>
        <div class="ladhakpreview">
            <div class="container">
                <div class="row container-fluid"><br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="Images/Weather Icon.png" class="col-md-offset-9 col-sm-offset-9 col-xs-"><span id="temprature">-8 &#8451;</span><br>
                    <br>
                    <br>
                    <p id="ladhak" class="col-md-offset-9 col-sm-offset-9">Ladhak, Kashmir</p>
                    <br>
                    <br>
                    <img src="Images/Activities Icons/Skiing2.png" class="thumbs col-md-offset-9 col-sm-offset-9"><img src="Images/Activities Icons/Treking2.png" class="thumbs"><img src="Images/Activities Icons/Camping2.png" class="thumbs">
                </div>
            </div>
        </div>
        <div class="sectionfive text-center">
            <img src="Images/Chat Icon.png">
            <p class="outdoor">Take that step</p>
            <p class="campturelets">Put yourself out there with the people, places and things that make it worth exploring. This is your world. Go, Campture it!</p>
            <div class="form-group contactform maxwidth container">
                <p>Name</p>
                <input type="text" class="form-control formcomponent" placeholder="" aria-describedby="basic-addon1">
                <p>Email</p>
                <input type="text" class="form-control formcomponent" placeholder="" aria-describedby="basic-addon1">
                <p>Subject</p>
                <input type="text" class="form-control formcomponent" placeholder="" aria-describedby="basic-addon1">
                <p>Message</p>
                <input type="text" class="form-control formcomponent" placeholder="" aria-describedby="basic-addon1">
                <button class="btn btn-orange" type="button"><span>Send Message</span></button>
            </div>
        </div>