@charset "UTF-8";

/* CSS Document */

@font-face {
    font-family: "Lato Semibold";
    src: url(../../fonts/Lato-Semibold.woff);
}

@font-face {
    src: url(../../fonts/Lato-Semibold.woff);
}
body{
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #525354;
}

html {
    overflow-x: hidden;
    font-family: lato!important;
}

.navtext {
    top: 15px;
}

.navLogo {
    left: 49%;
    position: absolute;
}

@media screen and (max-width: 768px) {
    html {
        overflow-y: scroll;
        /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
		color:#0D0D0D;
    }
    body {
        font-family: lato!important;
        position: relative;
        overflow-y: scroll;
        /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
		
    }
    .navLogo {
        left: 47%!important;
        position: absolute !important;
    }
    .navtext-left {
        position: absolute!important;
        left: 33%!important;
    }
    .navtext-right {
        position: absolute!important;
        right: 42%!important;
    }
}

@media screen and (max-width: 1024px) {
    .navtext-left {
        position: absolute!important;
        left: 34%!important;
    }
    .navtext-right {
        position: absolute!important;
        right: 43%!important;
    }
}

@media screen and (max-width: 425px) {
    .navtext-left {
        position: absolute!important;
        left: 24%!important;
    }
    .navtext-right {
        position: absolute!important;
        right: 35%!important;
    }
}

@media screen and (max-width: 320px) {
    .navtext-left {
        position: absolute!important;
        left: 15%!important;
    }
    .navtext-right {
        position: absolute!important;
        right: 30%!important;
    }
}

.btn-campture {
    background-color: rgb(226, 88, 51)!important;
    font: lato;
    font-weight: 200;
    color: #FFFFFF;
    border-radius: 4px!important;
}

.btn-campture:hover {
    color: #ffffff;
    box-shadow: 0px 0px 8px 2px rgba(196, 78, 31, 0.5);
}

.navtext-left {
    position: absolute;
    left: 41%;
}

.navtext-right {
    position: absolute;
    right: 44%;
}

.navtext a {
    color: white;
}

.paddingnone {
    padding: none!important;
}

.bodywrap .jumbotro {
    /*background: url(/Images/tempLanding_background.jpg);*/
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 0px!important;
	overflow:hidden;
    position: relative;
}

.navigation {
    z-index: 2000;
    width: 100%;
    position: absolute;
    height: 60px;
    padding-top: 5px;
    background-color: rgba(23, 23, 23, .302);
}

.yourguide {
    font-size: 20px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.yourguide img{
    position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    top: 60px;
}

.btn-orange {
    background-color: rgb(226, 88, 51)!important;
    font-family: "lato"!important;
    font-weight: 100!important;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0.040em;
    height: 50px;
    overflow: hidden;
    border-radius: 4px!important;
    font-size: 20px;
}
.btn-orange:hover{
    color: white;
}

.text-center.yourguide .input-group.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-4 .form-control.form-control-camptureme {
    font-style: normal;
    font-family: "lato";
    font-weight: 100;
    letter-spacing: .040em;
}

.floating-icons i {
    margin-top: 20px;
    font-size: 40px;
    color: rgb(226, 88, 51);
    list-style: none;
}

.herologo {
    margin: auto;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 20px;
    max-width: 1000px!important
}

.nav .text-center .navtext {
    font-size: 16px;
    font-family: 'lato', san serif;
    font-weight: 200;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    margin-left: 50px;
}

.secondsection {
    background-color: #f4f5f9;
    padding: 70px;
}

.third-section {
    padding: 70px;
    background-color: #f4f5f9;
}

.headerfour {
    padding-top: 70px;
    background-color: white;
}

.fourthsection {
    padding-top: 40px;
    padding-bottom: 3px;
    background-color: #e9eef3;
}

.outdoor {
    font-size: 28px;
    font-family: lato;
    font-weight: 700;
    color: rgb(106, 106, 106);
    text-transform: uppercase;
    line-height: 1.429;
    letter-spacing: .1em;
}

.campturelets {
    margin: 30px;
    font-size: 22px;
    font-family: lato;
    font-weight: 500;
    color: #525354;
    letter-spacing: .02em;
}

.features {
    font-size: 20px;
    font-family: "lato";
    font-weight: 600;
    color: rgb(106, 106, 106);
    letter-spacing: 0.10em;
}

.marginauto {
    margin: auto!important;
}

.headerfourbg {
    padding-bottom: 20px;
}

.thumbs {
    padding-right: 24px;
}

.contactform {
    width: 40%;
    margin: auto;
    padding: 42px;
    border: solid rgb(190, 190, 190) 1px;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.formcomponent {
    margin-bottom: 20px!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-radius: 0px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none;
    border-bottom: solid 1px rgb(190, 190, 190) !important;
}

.sectionfive.text-center .form-group.contactform p {
    font-size: 14px;
    font-family: lato;
    color: rgb(153, 153, 153);
    text-align: left;
}

.form-group.contactform .btn.btn-orange span {
    font-family: lato;
    color: white;
}

.sectionfive {
    background-color: #fff;
    padding-bottom: 100px;
    padding-top: 100px;
}

.sectionsix {
    padding: 60px;
    background-color: #e9eef3;
    background-image: url(/Images/footer-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.angellist img {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    max-width: 100%;
}

.angellist {
    padding-bottom: 80px;
}

.footer {
    background-color: rgb(32, 32, 32);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footersocial {
    font-size: 28px!important;
    margin-right: 27px;
    color: rgb(153, 153, 153);
}

.footer span {
    font-size: 16px;
    font-family: lato;
    color: rgba(153, 153, 153, 0.749);
}

.mockups {}

.mockups img {
    margin-right: 5%;
    max-width: 700px;
}

.joincommunity {
    margin-top: 30px!important;
    width: 33.3%;
    margin: auto;
    margin-bottom: 26px!important;
}

.form-control-camptureme {
    height: 50px!important;
}

.maxwidth {
    max-width: 700px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    min-width: 300px;
    top: 70px;
}

.mockups.container p {
    font-size: 36px;
}

.asfeatured {
    background-color: #e9eef3;
    padding-top: 20px;
}

@media (max-width: 991px) {
    .mac {
        display: none!important;
    }
}

.yourexpert {
    font-family: lato;
    text-transform: none;
    font-size: 30px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    top: 80px;
}


/*GearChecklist*/

.gearListWrap {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: lato;
}

.gearListWrap p {
    font-size: 24px;
    font-family: lato;
}

.gearListWrap input[type=date] {
    border-top: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: #cecece;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.gearListWrap input[type=date]::-webkit-datetime-edit-day-field {
    color: #f78539;
}

.gearListWrap input[type=date]::-webkit-datetime-edit-month-field {
    color: #f78539;
}

.gearListWrap input[type=date]::-webkit-datetime-edit-year-field {
    color: #f78539;
}

.gearListWrap input:focus {
    border-bottom-color: #f56c36;
    outline: none;
}

.gearFormInput {
    display: inline-block;
}

.gearListResults {
    padding-top: 20px;
    font-size: 18px;
    text-align: left;
}

.map-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
}

.map {
    position: relative;
}

.destinationDetails {
    position: absolute;
    top: 190px;
    margin-left: auto;
    margin-right: auto;
}

.destinationDetails span {
    font-size: 20px;
}

.angular-google-map-container {
    height: 400px;
}


/*GearChecklist*/

.gearListWrap {
    position: relative;
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 100px;
    min-height: 100vh;
    letter-spacing: 0.08em;
}

.gearListWrap input {
    border-top: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: #cecece;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.gearListWrap input::-webkit-input-placeholder {
    color: #f78539;
}

.gearListWrap input:focus {
    border-color: #f56c36;
    outline: none;
}

.locationInput {
    width: 270px;
}

.gearFormInput {
    display: inline-block;
}

.gearListResults {
    padding-top: 40px;
}

.map-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
}

.map {
    position: relative;
}

.destinationDetails span {
    font-size: 20px;
}

.itemName {
    text-align: left;
    font-weight: bold;
    width: 300px;
}

.itemDesc {
    text-align: left;
}

.tempurature {}

.active-section {
    display: block;
}

.gearResults {
    padding: 0;
    font-family: lato;
}

.gearCategory {
    font-size: 4.2rem;
    font-family: lato;
    margin-bottom: 5px;
    padding: 10px;
    color: #EF975F;
}


/*Loader Css*/

.site-loader {
    width: 152px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: auto;
}

.stick {
    width: 30px;
    height: 3px;
    background: black;
    display: inline-block;
    margin-left: -8px;
}

.stick:nth-child(n) {
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    /* Safari and Chrome */
    -moz-transform: rotate(30deg);
    -webkit-animation: fall 2s infinite;
    -moz-animation: fall 2s infinite;
    transform: rotate(30deg);
}

.stick:nth-child(2n) {
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    /* Safari and Chrome */
    -moz-transform: rotate(-30deg);
    -webkit-animation: rise 2s infinite;
    -moz-animation: rise 2s infinite;
    transform: rotate(-30deg);
}

@-webkit-keyframes rise {
    50% {
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        transform: rotate(30deg);
        ;
    }
}

@-moz-keyframes rise {
    50% {
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        transform: rotate(30deg);
    }
}

@-o-keyframes rise {
    50% {
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        transform: rotate(30deg);
    }
}

@keyframes rise {
    50% {
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        transform: rotate(30deg);
    }
}

@-webkit-keyframes fall {
    50% {
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
        transform: rotate(-30deg);
    }
}

@-moz-keyframes fall {
    50% {
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
}

@-o-keyframes fall {
    50% {
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
        transform: rotate(-30deg);
    }
}

@keyframes fall {
    50% {
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
        transform: rotate(-30deg);
    }
}

@-webkit-keyframes fade {
    50% {
        opacity: 0.5
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fade {
    50% {
        opacity: 0.5
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fade {
    50% {
        opacity: 0.5
    }
    100% {
        opacity: 1
    }
}

@keyframes fade {
    50% {
        opacity: 0.5
    }
    100% {
        opacity: 1
    }
}

.site-loader-center {
    width: 152px;
    margin: auto;
}

.productThumbnail {
    min-height: 350px;
    position: relative;
    overflow: hidden;
    color: #525354 !important;
}

.productCaption {
    position: absolute;
    padding: 2%;
    top: -100%;
    width: 100%;
    right: 0;
    text-align: center;
    color: #fff !important;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: rgba(66, 139, 202, 0.75);
}

.productThumbnail h4 {
    font-family: lato;
    color: #6d6d6d;
}

.productThumbnail:hover .productCaption {
    top: 0%;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: transparent;
    color: #f56c36;
}

a {
    color: black;
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: black;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
}


/*feedback*/

#feedbackModal .modal-body {
    padding: 10px;
}

.feedbackButton {
    position: fixed;
    bottom: 10px;
    left: 60px;
    border-radius: 30px;
    font-family: lato;
    letter-spacing: 0.02em;
    font-size: 1em;
}

.feedbackInput {
    border-top: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: #cecece;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}


/**/

.help-block-position {
    display: inline-block;
    font-size: 12px!important;
    color: #a94442;
}

.pac-container {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: none;
    box-shadow: 0px 2px 4px -2px rgba(161, 161, 161, 0.47);
}

.pac-container:after {
    background-image: none !important;
    display: none;
}

.pac-item {
    padding: 1em 2em 1em 2.2em;
    background-color: #F9F9F9;
}

.pac-item:hover {
    background-color: #fff;
}

.pac-item:first-child {
    border-top: none;
}

.pac-matched {
    font-weight: normal;
}

.pac-item-query {
    font-family: lato;
    font-size: 1.3em;
    color: #000;
}

.pac-icon {
    display: none;
}

.pac-logo:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 16px;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png) !important;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px;
}

.pulse2 {
    -webkit-animation: pulse2 1s linear infinite;
    -moz-animation: pulse2 1s linear infinite;
    -ms-animation: pulse2 1s linear infinite;
    animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse2 {
    0% {
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.checklistShowcase {
    padding-top: 10%;
    min-height: 100vh;
    font-family: lato;
}


/*inspiration board*/

.insp-panel {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.insp-panel img {
    width: 100%;
}


/*coming soon*/

.comingSoonWrap p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    top: 2em;
    font-size: 6em;
    font-family: lato;
}

.discover-offbeat {
    font-family: lato;
    text-align: center;
    font-size: 3em;
}

.ladhakpreview {
    background-color: #F6F5FA;
}

.feedbackInput2 {
    width: 100%;
    border-radius: 2px;
    background-color: rgb(245, 245, 245);
    border: 0;
    padding: 5px;
}

.feedbackInput2::-webkit-input-placeholder {
    color: #525354;
    font-family: lato;
    vertical-align: central;
}

.input-label-left {
    background-color: rgb(245, 245, 245);
    border: 0;
    padding: 5px;
}

.input-group-custom {
    margin-top: 5px;
    margin-bottom: 5px;
}


/*interview*/

.simform {
    position: relative;
    margin: 0 auto;
    max-width: 860px;
    width: 100%;
    text-align: left;
    font-size: 2.5em;
}

.simform .submit {
    display: none;
}


/* Question list style */

.simform ol {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    -webkit-transition: height 0.4s;
    transition: height 0.4s;
}

.simform ol:before {
    content: '';
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.35em;
}

.questions li {
    z-index: 100;
    position: relative;
    visibility: hidden;
    height: 0;
    -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
    transition: visibility 0s 0.4s, height 0s 0.4s;
}

.questions li.current,
.no-js .questions li {
    visibility: visible;
    height: auto;
    -webkit-transition: none;
    transition: none;
}


/* Labels */

.customLabel {
    font-size: .7em;
    font-family: lato;
    min-width: 50px;
    height: 60px;
    padding-top: 50%;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    cursor: pointer;
    color: white;
}

.questions li > span {
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
}

.questions li > span label {
    display: block;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.questions li.current > span label,
.no-js .questions li > span label {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.show-next .questions li.current > span label {
    -webkit-animation: moveUpFromDown 0.4s both;
    animation: moveUpFromDown 0.4s both;
}

@-webkit-keyframes moveUpFromDown {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@keyframes moveUpFromDown {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


/* Input field */

.questions input {
    display: block;
    padding: 10px;
    width: calc(100% - 2em);
    border: none;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1em;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.questions input[type="radio"] {
    background: none;
    display: block;
    width: 100%;
    opacity: 0!important;
    font-family: lato;
}

.questions input[type="radio"]:checked + label {
    color: white;
    font-style: normal;
    border: 1px solid black;
}

.questions .current input,
.no-js .questions input {
    opacity: 1;
}

.questions input:focus,
.simform button:focus {
    outline: none;
}


/* Next question button */

.next {
    position: absolute;
    right: 0;
    bottom: 0em;
    /* padding-bottom of form plus progress bar height */
    display: block;
    padding: 0;
    width: 2em;
    height: 2em;
    border: none;
    background: none;
    color: white;
    text-align: center;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.next:hover {
    color: rgba(0, 0, 0, 0.5);
}

.next.show {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    pointer-events: auto;
}


/* Progress bar */

.simform .progress {
    width: 0%;
    height: 0.15em;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.simform .progress::before {
    position: absolute;
    top: auto;
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.05);
    content: '';
}


/* Number indicator */

.simform .number {
    position: absolute;
    right: 0;
    overflow: hidden;
    margin: 0.4em 0;
    width: 3em;
    font-weight: 700;
    font-size: 0.4em;
}

.simform .number:after {
    position: absolute;
    left: 50%;
    content: '/';
    opacity: 0.4;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.simform .number span {
    float: right;
    width: 40%;
    text-align: center;
}

.simform .number .number-current {
    float: left;
}

.simform .number-next {
    position: absolute;
    left: 0;
}

.simform.show-next .number-current {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.simform.show-next .number-next {
    -webkit-animation: moveUpFromDown 0.4s both;
    animation: moveUpFromDown 0.4s both;
}


/* Error and final message */

.simform .error-message,
.simform .final-message {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.simform .error-message {
    padding: 0.4em 3.5em 0 0;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    font-size: 0.4em;
}

.final-message {
    width: 100%;
    text-align: center;
}

.error-message.show,
.final-message.show {
    visibility: visible;
    opacity: 1;
}

.final-message.show {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}


/* Final hiding of form / showing message */

.simform-inner.hide {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
}


/* No JS Fallback */

.no-js .simform {
    font-size: 1.75em;
}

.no-js .questions li {
    padding: 0 0 2em;
}

.no-js .simform .submit {
    display: block;
    float: right;
    padding: 10px 20px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.4);
}

.no-js .simform .controls {
    display: none;
}


/* Remove IE clear cross */

input[type=text]::-ms-clear {
    display: none;
}


/* Adjust form for smaller screens */

@media screen and (max-width: 44.75em) {
    .simform {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 33.5625em) {
    .simform {
        font-size: 1.2em;
    }
}


/* .bubble */

label {
    margin-bottom: 0;
}

.bubble {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(164, 164, 164, 0.15);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px 0px rgba(160, 160, 160, 0.3);
    font-size: .8em;
    font-family: "Lato Semibold";
    color: rgb(82, 83, 84);
    padding: 10px;
    /* vendor rules */
    /* vendor rules */
    box-sizing: border-box;
    clear: both;
    margin-bottom: 20px;
    position: relative;
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
}


/*.bubble:before, .bubble:after {
	border-radius: 20px / 10px;
	content: '';
	display: block;
	position: absolute;
	
}

.bubble:before {
	border: 10px solid transparent;
	bottom: 0;
	left: -7px;
	z-index: -2;
	}

.bubble:after {
	border: 8px solid transparent;
	border-bottom-color: #E5E5EA;
	bottom: 1px;
	left: -5px;
}*/

.bubble--alt {
    border-radius: 8px;
    background-color: rgb(255, 110, 64);
    box-shadow: 0px 2px 2px 0px rgba(160, 160, 160, 0.3);
    width: 100%;
    font-size: 24px;
    font-family: "Lato Semibold";
}

.bubble--alt input {
    color: rgb(255, 255, 255);
}

.bubble--alt textarea {
    color: rgb(255, 255, 255);
    width: 100%;
    background: transparent;
    border: none;
}

.bubble--alt textarea::-webkit-input-placeholder {
    font-size: 24px;
    font-family: "Lato Semibold";
    color: rgb(255, 255, 255);
}

.bubble--alt input::-webkit-input-placeholder {
    font-size: .8em;
    font-family: lato;
    color: rgb(255, 255, 255);
    font-style: italic;
}


/*.bubble--alt:before {
	border-radius: 20px / 10px;
	left: auto;
	right: -7px;
}

.bubble--alt:after {
	border-bottom-color: #0B93F6;;
	border-radius: 20px / 10px;
	left: auto;
	right: -5px;
}*/

.radios {
    width: 25%;
    display: inline-block;
}

.interview-bg {
    background-image: url(../images/cover.jpg);
    padding-top: 40px;
    min-height: 100vh;
    padding-bottom: 40px;
}

.loginwithfacebook {
    border-radius: 4px;
    background-color: rgb(59, 89, 152)!important;
    margin-top: 10px;
    color: rgb(255, 255, 255)!important;
    font-family: lato;
    letter-spacing: 0.04em;
    font-size: 16px;
    padding: 6px 12px;
}

.interview-promo {
    background-image: url(../images/interview_cover_low_quality.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/*markha*/

.intro-photo-wrap {
    height: 100vh;
    position: relative;
}

.intro-photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.sale-info {
    position: relative;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0px 0px 7px 0px rgba(166, 166, 166, 0.4);
	overflow:hidden;
}

#aa_particles {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.i-pills {
    color: #000000;
    letter-spacing: 0.14em;
    display: flex;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow-x: scroll;
    max-height: 60px;
    overflow-y: hidden;
}

.i-pills>li>a {
    border-radius: 0!important;
    font-family: lato;
    text-transform: uppercase;
    color:  rgba(0,0,0,.6)
}

.i-pills>li.active>a,
.i-pills>li.active>a:focus,
.i-pills>li.active>a:hover
 {
    color: #169f8d!important;
    padding-bottom: 7px;
    transition: ease-in .2s;
    background-color: #fff;
     border-bottom: 3px #169f8d solid;
}
.i-pills>li>a:hover{
    background-color: rgba(82,83,84,.02);
    border-bottom: 3px rgba(25,159,141,.3) solid;
    padding-bottom: 7px;
    color: #169f8d;

}

.sale-content {
    padding-top: 20px;
}

.tour-pricing h3 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-family: lato;
}

.insp-panel {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.sell-panel {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.sell-panel>.table>tbody>tr>td {
    border-bottom: 1px solid #ddd!important;
    border-top: 0!important;
    font-family: lato;
    color: rgb(82, 83, 84);
}

.green {
    color: rgb(22, 159, 141)!important;
}

.i-tabs {
    cursor: pointer;
}

.i-tabs>li>a {
    color: rgb(82, 83, 84);
    font-size: 18px;
    font-family: Lato;
}

.i-tabs>li.active>a,
.i-tabs>li.active>a:focus,
.i-tabs>li.active>a:hover {
    color: #fff!important;
    background-color: #FFFFFF!important;
    border-bottom: 1px #169f8d solid !important;
    transition: ease-in .2s;
    background-color: #169f8d!important;
}

.lato {
    font-family: lato;
}

.date-month {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.flex {
    display: flex;
}

.date-month2 {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.inr {
    background-color: rgb(22, 159, 141);
    color: #FFFFFF;
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-transform: uppercase;
}

.dark-green-bg {
    background-color: rgb(20, 140, 124)!important;
}

.spinner {
    width: 100%;
}

.spinner input {
    text-align: right;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

.card-desc {
    font-family: lato;
	color:#525354;
}
.card-photo {
    box-shadow: 0px 0px 0.8em 0px rgba(213, 213, 213, 1);
    padding: 5px;
}

.view-det {
    position: relative;
    bottom: 100px;
    font-family: lato;
    font-size: 16px;
    color: #fff;
    font-style: italic;
    z-index: 100000;
    cursor: pointer;
}

.view-det a {
    color: #fff;
}

.view-det a:hover {
    color: #fff;
}

.bottom-zero {
    bottom: 104px;
}

.lato {
    font-family: lato;
}

.sum-card {}

.no-border {
    border: 0;
}

.fixed-top {
    position: fixed;
    top: 50px;
}

#home p,
#home li,
#menu2 p,
#menu2 li,
#menu2 td {
    font-size: 16px;
}

.badge-det {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.badge-det p {
    font-family: lato;
    color: #fff;
    font-size: 18px;
}

.badge-det span {
    font-size: 18px;
    color: #fff;
}

.green-bodah {
    border-right-style: solid;
    border-right-color: rgb(22, 159, 141);
    border-right-width: 1px;
}

.sale-wrap {
    position: relative;
}

.iti-sum td {
    padding-left: 10px;
    padding-bottom: 10px;
}
.timeline-card{
	padding-left:10px;
	padding-bottom:10px;
}
.timeline-card:before{
content: "";
position: absolute;
width: 3px;
background: #eaeaea;
top: 4px;
left: -6px;
bottom: -25px;
}
.card-date-loca:before{
content: "";
position: absolute;
width: 18px;
height: 18px;
border-radius: 50%;
border: 2px solid #f7f7f7;
background: #d35136;
left: -24px;
z-index: 1;
}
.green-bodah .toCarry table{
	min-width:100%;
}
.green-bodah .toCarry td{
	width:50%;
}
.date-month2 input{
	width:80%!important;
}
.date-month2 span{
	vertical-align:-webkit-baseline-middle;
	color:#148C7C;
	font-family:lato;
}
.mand{
	border-color:#ccc;
	border-radius:4px;
	border-width:1px;
	width:100%;
	border-style:solid;
	display:flex;
}
.mandwithin{
	width:33.33%;
	cursor:pointer;
	font:lato;
}
.mandwithin:hover{
	background-color:#B0B0B0;
}
.mandwithinactive{
    background-color:#169F8D;
    color: white;
}
.mandwithinactive span{
    color: white;
}
.tripsWrap{
	padding-top:80px;
}
.location-thumb {
    margin-top: 30px;
    height: 285px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    max-width: 262.5px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05),0 2px 10px 0 rgba(0,0,0,0.05);
}

.location-thumb .trip-img {
    border-radius: 4px;
    background-color: rgb(171, 171, 171);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    max-width: 242.5px;
    max-height: 242.5px;
    position: absolute;
    top: -40px;
    width: 100%;
}
.ig-lofi {
    filter: contrast(1.4) brightness(0.9) sepia(0.05);
    -webkit-filter: contrast(1.4) brightness(0.9) sepia(0.05);
}.location-thumb .caption {
    left: 0;
    right: 0;
    position: absolute;
    bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}.user_name_thumbnail a {
    font-size: 14px;
    font-family: lato;
    color: rgb(82, 83, 84);
    line-height: 2;
    position: absolute;
    left: 50px;
    margin-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}.Like_icon_thumbnail {
    padding-top: 8px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 14px;
    color: rgb(109, 112, 119);
}
.tripsWrap .thumbnail a img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
.tripsWrap .thumbnail{
    padding: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: lato;
}
.tripsWrap .thumbnail .caption{
    display: -webkit-box;
}
.no-days{
    width:  50%;
}
.no-days img{
    height: 30px;
}
.diff-level{
    width:50%;
}
.diff-level img{
    height: 30px;
}
.view-iti{
    background-color: #169F8D;
    color: white;
    padding: 10px;
    width: 40%;
    border-bottom-left-radius: 5px;
}
.view-iti:hover{
    color: white;
}
.price-range{
    background-color: #148C7C;
    color: white;
    padding: 10px;
    width: 60%;
    border-bottom-right-radius: 5px;
}
.caption2{
    display: flex;
}
video{
    top:0;
    left:0;
    position: absolute;
    object-fit: contain;
    object-position: center;
    -webkit-filter: brightness(.5);
}
.leh-section{
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.leh-section h1{
    font-weight: bold;
    font-size: 48px;
    text-align: left;
}
.leh-section h2{
    font-size: 28px;
    text-align: left;
    
}
.green-bodah a{
    font-style: italic;
}