@charset "UTF-8";
/* CSS Document */

html{
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

}
body{
	font-family:"lato";
	position:relative;
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.navtext{
	top:15px;
}
.navLogo{
	left:49%;
	position:absolute;
}
@media screen and (max-width: 768px){
	.navLogo{
	left:47%!important;
	position:absolute !important;
}
.navtext-left{
	position:absolute!important;
	left:33%!important;
}
.navtext-right{
	position:absolute!important;
	right:42%!important;
}
}
@media screen and (max-width: 1024px){
	.navtext-left{
	position:absolute!important;
	left:34%!important;
}
.navtext-right{
	position:absolute!important;
	right:43%!important;
}
}
@media screen and (max-width: 425px){
	.navtext-left{
	position:absolute!important;
	left:24%!important;
}
.navtext-right{
	position:absolute!important;
	right:35%!important;
}
}
@media screen and (max-width: 320px){
	.navtext-left{
	position:absolute!important;
	left:15%!important;
}
.navtext-right{
	position:absolute!important;
	right:30%!important;
}
}

.btn-campture{
	background-color:#f78539;
	font:lato-light;
	font-weight:200;
	color:#FFFFFF;
}
.btn-campture:hover{
	color:#ffffff;
	box-shadow: 0px 0px 8px 2px rgba(196,78, 31, 0.5);
}
.navtext-left{
	position:absolute;
	left:41%;
}
.navtext-right{
	position:absolute;
	right:44%;
}
.navtext a {
	color: white;
}
.paddingnone {
	padding: none!important;
}
.bodywrap .jumbotron {
	background: url(/Images/photo-1434064511983-18c6dae20ed5.jpeg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
	margin-bottom: 0px!important;
}
.navigation {
	z-index:2000;
	width:100%;
	position:absolute;
	height: 60px;
	padding-top: 5px;
	background-color: rgba(23, 23, 23,.302);
}

.yourguide {
	font-size: 20px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	font-style: italic;
	text-transform: uppercase;
}
.btn-orange {
	background-color: rgb(226, 88, 51)!important;
	font-family: "lato"!important;
	font-weight: 100!important;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.040em;
	height: 50px;
	overflow: hidden;
}
.text-center.yourguide .input-group.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-4 .form-control.form-control-camptureme {
	font-style: normal;
	font-family: "lato";
	font-weight: 100;
	letter-spacing: .040em;
}
.floating-icons i {
	margin-top: 20px;
	font-size: 40px;
	color: rgb(226, 88, 51);
	list-style: none;
}
.herologo {
	margin: auto;
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 1000px!important
}
.nav .text-center .navtext {
	font-size: 16px;
	font-family: 'lato', san serif;
	font-weight: 200;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 0.16em;
	margin-left: 50px;
}
.secondsection {
	background-color: #f4f5f9;
	;
	padding: 70px;
}
.third-section {
	padding: 70px;
	background-color: #e9eef3;
}
.headerfour {
	padding-top: 70px;
	background-color: white;
}
.fourthsection {
	padding-top: 40px;
    padding-bottom: 3px;
	background-color: #e9eef3;
}
.outdoor {
	font-size: 28px;
	font-family: 'lato';
	font-weight: 700;
	color: rgb(106, 106, 106);
	text-transform: uppercase;
	line-height: 1.429;
	letter-spacing: .1em;
}
.campturelets {
	margin: 30px;
	font-size: 20px;
	font-family: "lato";
	font-weight: 500;
	color: rgb(153, 153, 153);
	letter-spacing: .02em;
}
.features {
	font-size: 20px;
	font-family: "lato";
	font-weight: 600;
	color: rgb(106, 106, 106);
	letter-spacing: 0.10em;
}
.marginauto {
	margin: auto!important;
}
.headerfourbg {	
	padding-bottom: 20px;
}
.ladhakpreview {
	background-image: url(/Images/Get%20camptured%20img.png);
	height: 580px;
	background-size: cover;
}
#ladhak {
	font-family: "lato";
	font-weight: 300;
	color: #FFFFFF;
	font-size: 32px;
}
#temprature {
	font-family: lato;
	font-weight: 100;
	color: #FFFFFF;
	font-size: 32px;
}
.thumbs {
	padding-right: 24px;
}
.contactform {
	width: 40%;
	margin: auto;
	padding: 42px;
	border: solid rgb(190, 190, 190) 1px;
	border-radius: 3px;
	background-color: #FFFFFF;
}
.formcomponent {
	margin-bottom: 20px!important;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	border-radius: 0px!important;
	-webkit-box-shadow: none!important;
	box-shadow:none;
	border-bottom: solid 1px rgb(190, 190, 190) !important;
}
.sectionfive.text-center .form-group.contactform p {
	font-size: 14px;
	font-family: lato;
	color: rgb(153, 153, 153);
	text-align: left;
}
.form-group.contactform .btn.btn-orange span {
	font-family: lato;
	color: white;
}
.sectionfive {
	background-color: #f4f5f9;
	padding-bottom: 100px;
	padding-top: 100px;
}
.sectionsix {
	padding: 60px;
	background-color: #e9eef3;
	background-image: url(/Images/Footer%20img.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.angellist img {
	padding-left: 20px;
	padding-right:20px;
	margin-top: 20px;
}
.angellist {
	padding-bottom: 80px;
}
.footer {
	background-color: rgb(32, 32, 32);
	height: 80px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footersocial {
	font-size: 28px!important;
	margin-right: 27px;
	color: rgb(153, 153, 153);
}
.footer span {
	font-size: 16px;
	font-family: lato;
	color: rgba(153, 153, 153, 0.749);
}
.mockups {
}
.mockups img {
	margin-right: 5%;
	max-width: 700px;
}
.joincommunity {
	margin-top: 30px!important;
	width: 33.3%;
	margin: auto;
	margin-bottom: 26px!important;
}
.form-control-camptureme {
	height: 50px!important;
}
.maxwidth {
	max-width: 700px!important;
	margin-left: auto!important;
	margin-right: auto!important;
	min-width: 300px;
}
.mockups.container p {
	font-size: 36px;
}
.asfeatured {
	background-color: #e9eef3;
	padding-top: 20px;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

@media (max-width: 991px) {
.mac {
	display: none!important;
}
}
.yourexpert {
	font-family: lato;
	font-weight: 100;
	text-transform: none;
	font-size: 30px;
	margin-bottom: 40px;
}
/*GearChecklist*/
.gearListWrap {
	font-size:40px;
	font-weight:100;
	letter-spacing:2px;
	font-family:lato;
	}
.gearListWrap p{
	font-size:24px;
	font-family:lato-light;
}

.gearListWrap input[type=date]{
	border-top: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: #cecece;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}
.gearListWrap input[type=date]::-webkit-datetime-edit-day-field {
    color: #f78539;
  }
  
.gearListWrap input[type=date]::-webkit-datetime-edit-month-field {
    color: #f78539;
  }
  .gearListWrap input[type=date]::-webkit-datetime-edit-year-field {
    color: #f78539;
  }
.gearListWrap input:focus{
    border-bottom-color:#f56c36;
    outline:none;
}
.gearFormInput{
    display:inline-block;
}
.gearListResults{
    padding-top:20px;
	font-size:18px;
	text-align:left;
}
.map-mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
}
.map{
    position:relative;
}
.destinationDetails{
    position:absolute;
    top:190px;
    margin-left:auto;
    margin-right:auto;
}
.destinationDetails span{
    font-size:20px;
}
.angular-google-map-container{
    height: 400px;
}
/*GearChecklist*/
.gearListWrap{
	position:relative;
	font-size:20px;
	padding-bottom:20px;
	text-align:center;
    margin-top: 100px;
    min-height: 100vh;
	letter-spacing:0.08em;
}
.gearListWrap input{
	border-top:solid 2px;
	border-left:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
	border-color:#cecece;
	border-radius:10px;
	text-align:center;
	margin:10px;
}
.gearListWrap input::-webkit-input-placeholder{
	color:#f78539;
}
.gearListWrap input:focus{
	border-color:#f56c36;
	outline:none;
}
.locationInput{
	width:300px;
}
.gearFormInput{
	display:inline-block;
}
.gearListResults{
	padding-top:40px;
}
.map-mask{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
}
.map{
	position:relative;
}
.destinationDetails span{
	font-size:20px;
}
.itemName{
	text-align:left;
	font-weight:bold;
	width:300px;
}
.itemDesc{
	text-align:left;
}
.tempurature{
}

.active-section{
    display: block;
}
.gearResults{
	padding:0;
}
.gearCategory{
	font-size:4.2rem;
	font-family:lato-light;
	margin-bottom:5px;
	padding:10px;
	color:#EF975F;
	}
/*Loader Css*/



.site-loader{
  width:152px;
  margin-left:auto;
  margin-right:auto;
  vertical-align: middle;
  height:auto;
  }

.stick {
  
 width: 30px;
 height:3px;
 background:black;
 display:inline-block;
 margin-left:-8px;
  
}

.stick:nth-child(n) {  
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  -moz-transform:rotate(30deg);
  -webkit-animation: fall 2s infinite;
  -moz-animation: fall 2s infinite;
   transform:rotate(30deg);
}
.stick:nth-child(2n) {  
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg); /* Safari and Chrome */
  -moz-transform:rotate(-30deg);
  -webkit-animation: rise 2s infinite;
  -moz-animation: rise 2s infinite;
   transform:rotate(-30deg);	
}

@-webkit-keyframes rise {
  50% { 
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  transform:rotate(30deg); 
    ;}
}
@-moz-keyframes rise {
 50% { 
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
   -moz-transform:rotate(30deg);
   transform:rotate(30deg);
  
}
}
@-o-keyframes rise {
  50% { 
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  transform:rotate(30deg);
   
}
}
 @keyframes rise {
  50% { 
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  transform:rotate(30deg);
   
}
}

@-webkit-keyframes fall {
  50% { 
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(30deg);
  transform:rotate(-30deg); 
}
}
@-moz-keyframes fall {
 50% { 
 	-ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  transform:rotate(-30deg); 
 }
}
@-o-keyframes fall {
  50% { 
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
   -moz-transform:rotate(30deg); 
	transform:rotate(-30deg);
  }
}
@keyframes fall {
  50% { 
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(30deg); 
transform:rotate(-30deg);
  }
}

@-webkit-keyframes fade {
  50%{opacity:0.5}
  100% {opacity:1}
  }
@-moz-keyframes fade {
 50%{opacity:0.5}
  100%{opacity:1}
}
@-o-keyframes fade {
   50%{opacity:0.5}
  100%{opacity:1}
}
@keyframes fade {
   50%{opacity:0.5}
  100%{opacity:1}
}

.site-loader-center{
    width: 152px;
    margin: auto;
}

.productThumbnail{
	min-height:350px;
	position:relative;
	overflow:hidden;
}
.productCaption{
	position:absolute;
	padding: 2%;
    top: -100%;
    width: 100%;
    right: 0;
    text-align: center;
    color: #fff !important;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: rgba(66, 139, 202, 0.75);
}
.productThumbnail:hover .productCaption {
    top:0%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background:transparent;
	color:#f56c36;
	border:solid 1px black;
}
a{
	color:black;
}
.nav>li>a:focus, .nav>li>a:hover{
	color:black;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
}
/*feedback*/
.feedbackButton{
	position:fixed;
	bottom:10px;
	right:60px;
	border-radius:30px;
	font-family:lato-light;
	letter-spacing:0.02em;
	font-size:1.1em;
}
.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}
.input__label-content--haruki {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.input__label--haruki::before, .input__label--haruki::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 4px;
    background: #6a7989;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.input__label--haruki {
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
}
.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input__field--haruki {
    padding: 0.4em 0.25em;
    width: 100%;
    background: transparent;
    color: #AFB5BB;
    font-size: 1.55em;
}
.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: Lato, Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
}
.feedbackInput{
	position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}
.input__label--haruki {
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
}
.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}