<div ng-show="!isResultsShown" class="text-center">
    <form name="gearForm" action="" ng-submit="getCheckList(gearForm.$valid)" novalidate>
        <div class="gearListWrap container">
            <p>Gear Checklist Simplified</p>
            <p style="font-size:40px;">Check Your Camping & Hiking Gear<br> for Your Next Trip</p>
 I am travelling to
            <div class="gearFormInput " ng-class="{ 'has-error' : gearForm.location.$invalid && !gearForm.location.$pristine }">
                <input class="locationInput" name="location" type="text" placeholder="Enter Location" ng-autocomplete ng-model="location" options="options" details="details" required>
                <p ng-show="gearForm.location.$invalid && !gearForm.location.$pristine" class="help-block help-block-position">*required.</p>                
            </div><br>
 on
            <div class="gearFormInput hidden-xs hidden-sm">
                <input name="travelDate" type="text" placeholder="Enter Date" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open($event)" id="date" required>
                <p ng-show="gearForm.travelDate.$invalid && !gearForm.travelDate.$pristine" class="help-block help-block-position">required.</p>
            </div>
            <div class="gearFormInput hidden-lg hidden-md">
            <input id="date2" name="date2" type="date" ng-model="date" class="min-today"  required placeholder="Choose a date">
                <p ng-show="gearForm.date2.$invalid && !gearForm.date2.$pristine && !gearForm.date2.$error.min" class="help-block help-block-position">*required.</p>
                <p ng-show="gearForm.date2.$invalid && !gearForm.date2.$pristine && gearForm.date2.$error.min" class="help-block help-block-position">*please enter future date</p>                                
            </div>
for

        <div class="gearFormInput">
            <input name="duration" type="number" placeholder="No of days" ng-model="duration" min="1" required>
            <p ng-show="gearForm.duration.$invalid && !gearForm.duration.$pristine && !gearForm.duration.$error.min" class="help-block help-block-position">*required.</p>
            <p ng-show="gearForm.duration.$invalid && !gearForm.duration.$pristine && gearForm.duration.$error.min" class="help-block help-block-position">duration of trip should be greater than 0.</p>               
        </div><br>
            <button type="submit" style="margin-top: 20px" class="btn btn-campture btn-lg" ng-click="getCheckList(gearForm.$valid)" ng-disabled="gearForm.$invalid">Show Me What to Pack</button>
            <div class="gearPhotos">
                <img src="../../../../css/images/backpack.jpg">
                <img src="../../../../css/images/tent.jpg" style="
    margin-top: 70px; height:390px;">
                <img src="../../../../css/images/shoes.jpg" style="
    margin-top: 82px;">
                <img src="../../../../css/images/poles.jpg" style="
    margin-top: 42px;">
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('[type="date"].min-today').prop('min', function () {
                return new Date().toJSON().split('T')[0];
            });
        });
    });
</script>