<div ng-show="!isResultsShown" class="text-center" >
<div class="gearListWrap container">
 I am travelling to
        <div class="gearFormInput ">
            <input name="location" type="text" placeholder="Enter Location" ng-autocomplete ng-model="location" options="options" details="details" required>
        </div>
 in the month of
        <div class="gearFormInput">
            <input name="date" type="text" placeholder="Enter Month" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open($event)" id="date" required>
        </div>
for
        <div class="gearFormInput">
            <input type="number" placeholder="No of days" ng-model="duration" required>.
        </div>
 Show me what to pack in my backpack.
  <br>  <button style="margin-top: 20px" class="btn btn-success" ng-click="getCheckList()">Let's Go!</button>
    </div>    
</div>