<div class="text-center tripsWrap">
    <h1 class="lato">Trips</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">                
                <div class="thumbnail">
                    <img src="css/images/Thumbs_trip_sell/leh_sightseeing_rafting_thumb.jpg">
                    <div class="caption">
                        <div class="no-days"><img src="css/images/trip_thumb/trip_time_thumb.png"><span>&nbsp; 7 Days</span></div>
                        <div class="diff-level"><img src="css/images/trip_thumb/difficulty_meter_thumb.png"><span> &nbsp;Moderate</span></div>
                    </div>
                    <div class="caption2">
                        <div class="view-iti text-center"><span> Itinerary</span></div>
                        <div class="price-range"><span> INR 25000 - 30000</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>